/* Empty. Add your own CSS if you like */
    
@font-face {
    font-family:OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
 @font-face {
    font-family:OpenSans-BoldItalic;
    src: url(fonts/OpenSans-BoldItalic.ttf);
}
 @font-face {
    font-family:OpenSans-ExtraBold ;
    src: url(fonts/OpenSans-ExtraBold.ttf);
}
 @font-face {
    font-family:OpenSans-ExtraBoldItalic ;
    src: url(fonts/OpenSans-ExtraBoldItalic.ttf);
}
 @font-face {
    font-family:OpenSans-LightItalic ;
    src: url(fonts/OpenSans-LightItalic.ttf);
}
 @font-face {
    font-family:OpenSans-Regular ;
    src: url(fonts/OpenSans-Regular.ttf);
}
 @font-face {
    font-family:OpenSans-Semibold ;
    src: url(fonts/OpenSans-Semibold.ttf);
}
 @font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(fonts/OpenSans-SemiboldItalic.ttf);
}
 @font-face {
    font-family: OpenSans-Italic;
    src: url(fonts/OpenSans-Italic.ttf);
}
 @font-face {
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}
    
.title{
  font-size:20px !important;
  font-family:OpenSans-Regular !important;
  color:rgba(212, 63, 58, 1) !important;  
}
.bar-stable{
  /*background-color:#D32031 !important;*/
  text-align: center;
}

.bar-stable .button.button-icon{
/*color:white !important;*/
}
body{
font-size:18px; 
  font-family:OpenSans-Regular !important;
}
body        {
    /*background: url('../ubl_n.png');*/
    background-attachment:fixed;
    background-position: center;
    background:#E2E2E2 !important;

}
.pane, .menu, .view, .list, .item, ion-side-menu *,ion-item,a{
    background: transparent !important;
}
.mypane {
  background: url('../transwhite.png') repeat !important;
  
}

.side-list {
  color: #ffffff !important;

}

ion-side-menu.menu, .bar.bar-stable{
  font-size:22px !important;
  font-family:OpenSans-ExtraBold !important;
  color:white !important;
}
ion-side-menu.menu *, .bar.bar-stable *{
  color:white !important;
  
}
.bar.bar-stable .title{
  color:#ffffff !important;  
  width:100% !important;  
  left:0px !important;  
  right:0px  !important;  
  text-overflow: ellipsis;
  max-width: 55%;
  margin: 0 auto;  
}

.bar.bar-stable{
  background:#CE0025 !important;
  border-color: #ce0025 !important;
}
.menu-open .menu-content .scroll-content{
  left:0px;
}
/*button css start*/
.button{
  color: #000000 !important;
}
.button.button-calm {
    border-color: #0a9ec7;
    background-color: #11c1f3 !important;
    color: #fff; }
.button.button-calm:hover {
  color: #fff;
  text-decoration: none; }
  .button.button-energized {
    border-color: #e6b400;
    background-color: #ffc900 !important;
    color: #fff; }
.button.button-energized:hover {
  color: #fff;
  text-decoration: none; }
.button.button-energized.active, .button.button-energized.activated {
  border-color: #e6b400;
  background-color: #e6b400 !important;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.button.button-energized.button-clear {
  border-color: transparent;
  background: none !important;
  box-shadow: none;
  color: #ffc900; }
.button.button-energized.button-icon {
  border-color: transparent;
  background: none !important; }
.button.button-energized.button-outline {
  border-color: #ffc900;
  background: transparent !important;
  color: #ffc900; }
.button.button-energized.button-outline.active, .button.button-energized.button-outline.activated {
  background-color: #ffc900 !important;
  box-shadow: none;
  color: #fff; }
  /*button css end*/
  /*input css start*/
  .table select,#products{
    border-radius: 5px !important;
    height: 30px !important;
    background-color: #ffffff;
    width: 90%;

  }
  .table input{
    border-radius: 5px !important;  
    height: 30px !important;  
    width: 90%;
  }
  input.myInput{
  	width: 94% !important;
	height: 35 !important;
	background-color: #e2e2e2;
	border: none !important;
	border-bottom: 1px solid #000 !important;
	padding: 6px 10px 6px 10px;
	border-radius: 0px !important;
  }
  /*input css start*/
  .table > tbody > tr > td {
    vertical-align: middle !important;
    padding: 10px !important;
  }
  /*
  performance css
  */
  .table2 > thead > tr > td {
  vertical-align: middle !important;
  padding:10px !important;
  border:1px solid #077AA3 !important;
  text-align:center !important;
  background-color:#38b6cb !important;
  }
  .table2 > tbody > tr > td {
  vertical-align: middle !important;
  padding:10px !important;

  text-align:center !important;
  }
  .bar.bar-stable .title{
    text-align: center;
  }
  table > thead {
    background: #38b6cb !important;
  }

  #content-3{
    height: 200px;
  overflow: scroll;
  }
  ion-toggle{
    border:none;
  color:#FFFFFF;
  }
  th{
   text-align:left !important;
   padding-left:5px !important;
  }
  td{
   padding-left:5px !important;
   border: #E2E2E2 solid 3px !important; 
  }
  .no-border td{
   padding-left:5px !important;
   border: none !important; 
  }
  item-toggle{
   border:none !important;
  }
   th, thead >tr >td{
   color:#FFFFFF !important;
  }
  .button-assertive{
    background:rgba(212, 63, 58, 1) !important;
  color:#FFFFFF !important;
  }
  .modal-backdrop{
    background-color:rgba(0, 0, 0, 0.67) !important;
  }
  p{
    padding-left:5px;
  }
  .btn-danger {
    padding: 0px 40px;
    color: #ffffff !important;
    background-color: #38B6CB !important;
    border-color: #4A8396 !important;
  }
  .col-31{
    width: 30%;
  }
  .col-16{
    width: 14%;
  }
  .col-66{
    width: 66.6666666%;
  }
  .tab-box{
      width: 100%;
      float: left;
      position: relative;
      margin: 12px 0px 0px 12px;
      border: none;
      background: transparent;
      min-height: 100px;

  }
  .tab-box > h1:first-child{
      width: 200px;
      border-radius: 5px 5px 0px 0px;
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 15px;
      color: #FFF;
      background: #38b6cb;
      padding: 6px 10px;
      margin: 0;
      text-align: center;
  }
  .tab-box > span:first-child{
      width: 200px;
      border-radius: 5px 5px 0px 0px;
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 18px;
      color: #FFF;
      background: #38b6cb;
      padding: 6px 10px;
      margin: 0;
      text-align: center;
      line-height: 35px;
  }
  .tab-box > div,.tab-box > ion-scroll{
      margin: 0px;
      width: 100%;
      background: #ffffff;
      min-height: 100px;
      float: left;
      position: relative;      
      box-shadow: 5px 5px 5px #A5A0A0;
  }
  .tab-box > div:last-child,.tab-box > ion-scroll:last-child{
      margin: 0px;
      /*border-radius: 0px 5px 5px 5px;*/
      width: 100%;
      background: #ffffff;
      min-height: 100px;
      float: left;
      position: relative;     
      box-shadow: 5px 5px 5px #A5A0A0;
  }
  .BreadtopBar{
    position: relative;
    top: 20px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 1px;
    /*margin-right: 20px;*/
    /*padding-left: 20px;
    padding-right: 20px;*/
    border-top-color: #3f4040 !important;
    border-top-width: 1px;
    border-top-style: dotted;
  }
  .Breadcircle{
    border-radius: 50px;
    border: 1px solid red;
    height: 15px;
    width: 15px;
    position: relative;
    top: -9px;
    background-color: #fff;
    margin: 0 auto;
  }
  .Breadactive{
    background-color: red;

  }
  .col-16 select{
   width: 90%;
   height: 26px;
  }
  input, textarea{
    border: 1px solid #000000 !important;
     width: 90% !important;
     height: 26px !important; 
  }
  .number-box {
    width: 24px;
    height: 24px;
    border-top: 1px #000000 solid;
    border-right: 1px #000000 solid;
    border-bottom: 4px #000000 solid;
    border-left: 1px #000000 solid;
    border-radius: 3px;
    float: left;
    position: relative;
    margin: 2px 6px 0 6px;
    text-align: center; 
    /* Rotate div */
    
}
.number-box *{
   

    
}

.BreadtopBar span {
    position: relative;  
    top: -6px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.col-34{
  max-width: 23.3333% !important;
}

.mask_1 {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 49%;
  height: 1px;
  border-top-width: 1px;
  border-style: dotted;
  border-top-color: #3f4040;
  -webkit-transform: rotate(180deg);
  /*background-color: #E2E2E2 !important;*/

 }

 .BreadtopBar:first-child {
    border: none;
  }
  .BreadtopBar:last-child {
    border: none;
  }

 .mask_2 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 47%;
  height: 1px;
  border-top-width: 1px;
  border-style: dotted;
  border-top-color: #3f4040;
  -webkit-transform: rotate(180deg);
  /*background-color: #E2E2E2 !important;*/
 }

 #overview_content .mask_1{
  width: 49%;
  right: 0px;
}

#overview_content .mask_2{
  left: -2px;
  width: 47%;
}
#lastVisitSummary_content .mask_1{
  right: 0px;
}

#lastVisitSummary_content .mask_2{
  left: -2px;
}

#lastVisitSummary_content .BreadtopBar span, #overview_content .BreadtopBar span {
    position: relative;  
    top: -6px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

#lastVisitSummary_content .BreadtopBar:nth-child(1){
  margin-left: 3px;
}

#overview_content .BreadtopBar:nth-child(1){
  margin-left: 2px;
}
 div.mypane td{
  border: #e5e3e0 solid 4px !important;
}

div.mypane input[type=text]{
  height: 38px !important;
  border: none !important;
}

div.mypane .list-inset{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

div.customFooter{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /*position: relative;
  bottom: 0px;*/
}

div.mypane tr th>div{
  height: 25px;
  width: 25px;
  border: 2px solid #fff;
  display: inline-block;
  vertical-align: middle;
}
.todayactive{
  /*-webkit-box-shadow: 0 0 30px #38b6cb !important;*/
        /*box-shadow: 0 0 30px #38b6cb !important;*/
        /*-webkit-box-shadow: 0px 5px 5px #A5A0A0 !important;*/
        box-shadow: none !important;
        border: 4px solid #38b6cb !important;
        /*border-radius: 5px;*/

}

.todayactive article img {
    border-radius: 0px !important;
}

.todaydone{
  -webkit-box-shadow: 0px 5px 5px #A5A0A0 !important;
        box-shadow: 0px 5px 5px #A5A0A0 !important;
        border: 0px solid #38b6cb !important;
}
.todaydone article{
  background-image: url('../img/tick-small.png')!important;
    background-repeat: no-repeat !important;
    background-position: right !important; 
    background-color: #ffffff !important;
}
.todaydonesynced{
  /*-webkit-box-shadow: 5px 5px 5px #A5A0A0 !important;*/
        box-shadow: none !important;
        border: 0px solid #38b6cb !important;
}
.todaydonesynced article{
  background-image: url('../img/tick-small-sync.png')!important;
    background-repeat: no-repeat !important;
    background-position: right !important; 
    background-color: #ffffff !important;
}
.removedOutlet article{
  background-image: url('../img/x-small.png')!important;
    background-repeat: no-repeat !important;
    background-position: right !important; 
    background-color: #ffffff !important;
}
.BreadactiveFont{
  font-weight: bold;
}

tbody tr:first-child {
    border-top: 4px solid #E2E2E2;
}
.tab-box > .row:hover {background-color: #38b6cb !important}
/*
tbody tr td:last-child {
  border-right: #e5e3e0 solid 0px !important;
}

tbody tr td:first-child {
  border-left: #e5e3e0 solid 0px !important;
}*/
input::-webkit-input-placeholder { / WebKit browsers /
    color:    #000 !important;
}
input:-moz-placeholder { / Mozilla Firefox 4 to 18 /
  color:    #000 !important;
}
input::-moz-placeholder { / Mozilla Firefox 19+ /
    color:    #000 !important;
}
input:-ms-input-placeholder { / Internet Explorer 10+ /
    color:    #000 !important;
}

.addOutletBoarders thead th, .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 4px !important;
  border-top: 0px !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  margin-left: -2px;
  }

.addOutletBoarders tbody tr td:last-child,.addOutletBoarders thead th:last-child,.addOutletBoarders .row > .col:last-child {
  /*margin-right: -2px !important;*/
}

.addOutletBoarders tbody tr td:first-child,.addOutletBoarders thead th:first-child ,.addOutletBoarders .row > .col:first-child {
  /*margin-left: -3px !important;*/
}

.addOutletBoarders .checkBoxStyle{
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  margin-left: 14px;
  vertical-align: middle;
  text-align: left;
  float: left;
  margin-top: 3px;
}

.btn-default,.btn-danger{
  text-transform:none !important;
}

.productOrderBlock .secHeading{
  min-height: 42px;
  background-color: #38b6cb;
  vertical-align: middle;
  padding-top: 9px;
  color: #fff;
}

.productOrderBlock .productControl {
    border: #e5e3e0 solid 2px !important;
    border-left: 0px solid #e5e3e0 !important;
    border-right: 0px solid #e5e3e0 !important;
}

.productOrderBlock .productControl:first-child {    
    border-top: 0px solid #e5e3e0 !important;
}

.productOrderBlock .productControl:last-child {    
    border-bottom: 3px solid #e5e3e0 !important;
}

.productOrderBlock .productControl{    
    padding: 5px !important;
}

#productOrder_content .block_level_po:nth-child(1){
  width: 9%;
  float: left;
  padding-right: 0px !important;
  margin-left: 119px;
  margin-right: -12px;
}

#productOrder_content .block_level_po:nth-child(2){
  width: 27%;
  float: left;
}

#productOrder_content .block_level_po:nth-child(3){
  width: 9.8%;
  float: left;
  margin-left: -12px !important;
  margin-right: -25px !important;
  margin-top: 15px;
}

#productOrder_content .block_level_po:nth-child(4){
  width: 27%;
  float: left;  
}

#productOrder_content .block_level_po{
  position: relative;
  text-align: center;
}

#productOrder_content ion-scroll{
   height: 320px;
   margin-top: 3px !important;
}

#productOrder_content .image{
   width:100%;   
}

#productOrder_content .image:nth-child(1){
   margin-top: 115px; 
}#productOrder_content .image:nth-child(2){
   margin-top: 52px; 
}#productOrder_content .image:nth-child(3){
   margin-top: 110px; 
}#productOrder_content .image:nth-child(4){
   margin-top: 40px; 
}

.stackSalesClass input, .stackSalesClass select{
  width: 100% !important;
  border: none !important;
}

.stackSalesClass div:last-child {
    /*background-color: #706e69;*/
}

.overViewClass button:not(.btn-danger){
  font-size: 14px;
  padding: 3px 0px 3px 0px !important;  
}

.rowselected, .rowselected input, .rowselected select {
  background-color: #38b6cb !important;
}


.displayDiv{
  opacity: 0;
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: #38b6cb;
  left: 0px;
  margin-top: -5px;
}

.displayDiv_1{
  opacity: 0;
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: #38b6cb;
  right: 0px;
  margin-top: -35px;
}
.rowUnSelected{
  background-color: #FFFFFF;
}

.top-header .number-box{
  margin: 0px 15px 0 6px !important;
}

.top-header h3{
    margin: 6px 0 !important;
    text-transform: none !important;
}

.todayService{
  
}


.my-menu .list font{
  position: relative;
  margin-left: 10px !important;
  top: 3px !important;
}

.forBold button{
  font-weight: bold !important;
  border-radius: 0px !important;
}

.back-text{
  font-family: "OpenSans-Regular";
}

.col-23 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 23%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 23%;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  max-width: 23%; 
}
.stackPageHeading .checkbox {
    padding-left: 0px;
}

.col-39{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 39%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 39%;
  -ms-flex: 0 0 39%;
  flex: 0 0 39.6%;
  max-width: 40%;
}

.col-61{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 61%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 61%;
  -ms-flex: 0 0 61%;
  
   flex: 0 0 61.4%;
  
   max-width: 62%;
}


.col-37{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 37%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 37%;
  -ms-flex: 0 0 37%;
  flex: 0 0 37%;
  max-width: 37%;
}

.col-15{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
#containerForTemplate_content .col-15{    
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 15%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 15%;   
  -ms-flex: 0 0 15%;    
  flex: 0 0 15.3%;    
   max-width: 16%;    
}

.col-24{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 24%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 24%;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}

#addOutlet_content .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 2px !important;
  /*border-top: 0px !important;*/
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  border-top: #e5e3e0 solid 2px !important;
}

#addOutlet_content .addOutletBoarders .row > .col:first-child{
  margin-left: -1px !important;
  border-left: 0px solid #e2e2e2 !important;
}

#addOutlet_content ion-scroll {
  height: 62%;
  box-shadow: none !important;
  min-height: 0px !important;
  margin-top: 2px;
  /*background-color: #e5e3e0;*/
}

#addOutlet_content .addOutletBoarders .row > .col:last-child {
  margin-right: -2px !important;
  border-right: 0px solid #e2e2e2 !important;
}

#addOutlet_content .row + .row {
  margin-top: 0px;
  padding-top: 0;
}

#addOutlet_content .row {
  margin-left: -1px !important;
}

#addOutlet_content .bot-but {
  z-index: 999999;
  text-align: right;
  max-height: 0px;
  position: relative;
  top: 5px;
}

#addOutlet_content .outletCount{
  font-style: italic;
  position: relative;
  left: 818px;
  font-weight: bold;
}

#addOutlet_content .addOpacity{
  opacity: 1; 
}

#addOutlet_content .removeOpacity{
  opacity: 0; 
}

#addOutlet_content .checkBoxStyle_1 .checkbox-icon{
  width: 34px !important;
  height: 34px !important;
}

#addOutlet_content .checkBoxStyle_1 .checkbox{
  /*margin-top: -24px !important;*/
  margin:-24px 0px 0px -2px !important;
}

#addOutlet_content .checkBoxStyle_1 .checkbox-icon:before{
  border-color: #fff !important;
  border-width: 2px !important;
  border-radius: 1px !important;
  background-color: #38B6CB !important;
}

#addOutlet_content .checkBoxStyle_selectAll .checkbox-icon:after{
  width: 16px !important;
  height: 8px !important;
  border-color: #fff !important;
}

#addOutlet_content .checkBoxStyle_2 .checkbox input:before, #addOutlet_content .checkBoxStyle_2 .checkbox .checkbox-icon:before{
  border-color: #000 !important;
  border-width: 1px !important;
  border-radius: 1px !important;
}

#addOutlet_content .checkBoxStyle_clicked .checkbox-icon:after, #addOutlet_content .checkBoxStyle_clicked .checkbox input:after{
  border-color: #000 !important;
}

#addOutlet_content .checkBoxStyle_clicked .checkbox input:checked:before, #addOutlet_content .checkbox input:checked + .checkbox-icon:before{
  border-color: #000 !important;
  border-width: 1px !important;
  border-radius: 1px !important;
  background-color: #38B6CB !important;
}

#addOutlet_content .addOutletBoarders .stackSalesClass > .col{
  text-overflow: ellipsis !important;
}

/* overview_content css*/
#overview_content .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 2px !important;
  border-top: 2px solid #e5e3e0 !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  padding: 7px 0px 4px 0px;
}

#overview_content ion-scroll{  
  box-shadow: none !important;
  background-color: #e2e2e2;
  max-height: 21.2%;
}
#overview_content ion-scroll .row{    
 background-color: #fff;
}

#overview_content ion-scroll .row + .row{    
 margin-top: -1px;
}

#overview_content .addOutletBoarders .row > .col:first-child {
  margin-left: -3px !important;
}

#overview_content .addOutletBoarders .row > .col:last-child {
  margin-right: -2px !important;
}

/* objectives_content css*/
#objectives_content .addOutletBoarders .row > .col{  
  border: #e5e3e0 solid 4px !important;
  border-top: 0px !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  padding: 4px 0px 4px 0px;
}
#objectives_content .addOutletBoarders .row > .col:first-child{
  border-left: none !important;
}
#objectives_content .addOutletBoarders .row > .col:last-child{
  border-right: none !important;
}
#objectives_content .addoutletboarders .row:last-child > .col {
  border-bottom: none !important;
}
#objectives_content ion-scroll{  
  box-shadow: none !important;
  max-height: 329px;
  min-height: 0px;
}

/* lastVisitSummary_content css*/
#lastVisitSummary_content .outletCount{
  float: right;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  padding-top: 10px !important;
}

#lastVisitSummary_content .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 2px !important;
  /*border-top: 0px !important;*/
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  border-top: #e5e3e0 solid 1px !important;
}

#lastVisitSummary_content .addOutletBoarders .row > .col:first-child{
  margin-left: -3px !important;
}

#lastVisitSummary_content .addOutletBoarders .row > .col:last-child{
  margin-right: -2px !important;
}

#lastVisitSummary_content .row{
  margin-top: -1px !important;
}

#lastVisitSummary_content .row + .row{
  margin-top: -1px !important;
}

#lastVisitSummary_content .first_ion_scroll_back{
  max-height: 130px;
   box-shadow: none !important;
   margin-top: 1px;
   min-height: 130px;
  background-color: #fff;
  margin-bottom: 40px;
}

#lastVisitSummary_content .first_ion_scroll{
   max-height: 33%;
   box-shadow: none !important;
   margin-top: 1px;
   min-height: 61%;
   background-color: #e2e2e2;
}

#lastVisitSummary_content .second_ion_scroll{
  height: 57%;
  max-height: 57%;
  box-shadow: none !important;
  border-bottom: 1px solid;
}


#lastVisitSummary_content .second_ion_scroll p{
  padding: 8px 0px 0px 10px;
  color: gray;  
}

#lastVisitSummary_content .first_ion_scroll_back p{
  padding: 8px 0px 0px 10px;
  color: gray;
  min-height: 130px;
  border-bottom: 1px solid #000;
}

/* stock_view and stockDetails_view css*/
#stock_view .addOutletBoarders .row > .col, #stockDetails_view .addOutletBoarders .row > .col,#DepotTemplate2_view .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 2px !important;
  border-top: 0px !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  border-top: #e5e3e0 solid 1px !important;
  font-weight: bold;
}

#stock_view .addOutletBoarders .row > .col:first-child{
  margin-left: -3px !important;
}

#stockDetails_view .addOutletBoarders .row > .col:first-child{
  margin-left: -3px !important;
}
#stock_view .addOutletBoarders .row > .col:last-child, #stockDetails_view .addOutletBoarders .row > .col:last-child{
  margin-right: -2px !important;
}

#stock_view .row + .row, #stockDetails_view .row + .row {
  margin-top: 0px;
  padding-top: 0;
}

#stock_view .addOutletBoarders .row:last-child > .col, #stockDetails_view .addOutletBoarders .row:last-child > .col {
    margin-bottom: -1px;
}

#stockDetails_header .addOutletBoarders .row > .col:first-child{
  margin-left: -3px !important;
}

#stockDetails_header .addOutletBoarders .row > .col:last-child{
  margin-right: -2px !important;
}

#stockDetails_view .rowselectedTransp{
  background-color: transparent !important;
}

#stock_view .checkBoxStyle_1 .checkbox-icon, #stockDetails_view .checkBoxStyle_1 .checkbox-icon{  
  margin-top: 7px;
}

#stock_view .checkBoxStyle_1 .checkbox, #stockDetails_view .checkBoxStyle_1 .checkbox{
  margin:-24px 0px 0px -2px !important;
}

#stock_view .checkBoxStyle_1 .checkbox-icon:before, #stockDetails_view .checkBoxStyle_1 .checkbox-icon:before{
  border-color: #fff !important;
  border-width: 2px !important;
  border-radius: 1px !important;
  background-color: #38B6CB !important;
}

#stock_view .checkBoxStyle_1 .checkBoxStyle_selectAll .checkbox-icon:after, #stockDetails_view .checkBoxStyle_1 .checkBoxStyle_selectAll .checkbox-icon:after{  
  border-color: #fff !important;
}

#stock_view .checkBoxStyle_2 .checkbox input:before, #stock_view .checkBoxStyle_2 .checkbox .checkbox-icon:before{
  border-color: #000 !important;
  border-width: 1px !important;
  border-radius: 1px !important;
  /*background: #fff !important;*/
  background-color: #fff !important;
}

#stock_view .checkBoxStyle_clicked .checkbox-icon:after, #stock_view .checkBoxStyle_clicked .checkbox input:after{
  border-color: #000 !important;
}

#stock_view .checkBoxStyle_clicked .checkbox input:checked:before, #stock_view .checkBoxStyle_clicked .checkbox input:checked + .checkbox-icon:before{
  border-color: #000 !important;
  border-width: 1px !important;
  border-radius: 1px !important;
  background: #fff !important;
  background-color: #fff !important;
}

#stockDetails_view .checkBoxStyle_2 .checkbox input:before, #stockDetails_view .checkBoxStyle_2 .checkbox .checkbox-icon:before{
  border-color: #000 !important;
  border-width: 1px !important;
  border-radius: 1px !important;
  /*background: #fff !important;*/
  background-color: #fff !important;
}

#stockDetails_view .checkBoxStyle_clicked .checkbox-icon:after, #stockDetails_view .checkBoxStyle_clicked .checkbox input:after{
  border-color: #000 !important;
}

#stockDetails_view .checkBoxStyle_clicked .checkbox input:checked:before, #stockDetails_view .checkBoxStyle_clicked .checkbox input:checked + .checkbox-icon:before{
  border-color: #000 !important;
  border-width: 1px !important;
  border-radius: 1px !important;
  background: #fff !important;
  background-color: #fff !important;
}
#stockDetails_view .checkBoxStyle_2 .checkbox input[type="checkbox"]:disabled + .checkbox-icon:before{
	border-color: #999999 !important;
	border-width: 1px !important;
	border-radius: 1px !important;
	background: #fff !important;
	background-color: #fff !important;
}
#stock_view .displayDiv_1{
  margin-top: -31px;
}
#stockDetails_view .stockOlder{
  background-color: #e20f00;
}
#stockDetails_view .stockOlder_last_1, #stockDetails_view .stockOlder_last_2, #stockDetails_view .stockOlder_last_3{
  background-color: #f5a44d;
}

/* removeOutlet_content css*/
#removeOutlet_content .addOutletBoarders thead th{  
  padding: 8px 0px 8px 0px !important;
}

#removeOutlet_content .addOutletBoarders tbody td{
  padding: 7px 0px 7px 5px !important;
  border: #E2E2E2 solid 4px !important;
}

#removeOutlet_content .bot-but{
  z-index:999999; 
  position: relative; 
  /*top: 183px; */
  text-align:right;
}

#removeOutlet_content{
    top: 74px;
}

#removeOutlet_content .outletCount{
    float: right; 
    margin-right: 30px; 
    font-style: italic; 
    font-weight: bold;
}

/* reason_content css*/
#reason_content .addOutletBoarders .row > .col{  
  border: #e5e3e0 solid 2px !important;
  /*border-top: 0px !important;*/
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;  
  border-top: 1px solid #e5e3e0 !important;
}

#reason_content ion-scroll{
  background-color: #e2e2e2;
  box-shadow: none !important;
  max-height: 85%;
  min-height: 68%;
  margin-top: 1px;
  margin-bottom: 20px;
}

#reason_content .row{
  background-color: #fff;
}

#reason_content ion-scroll .row:not(last-child) {
    margin-bottom: 5px;
}

#reason_content .bot-but{
  z-index: 999999;
  position: relative;
 /* top: 169px;*/
  text-align: right;
  max-height: 0px;
}

#reason_content textarea{
  border: none !important;
  height: 35px !important;
  box-shadow: 0px 2px #b2aea8;
  margin: 0 auto;
}

#reason_content label{
  width: 70%;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
  margin-bottom: 4%;
}

#reason_content span{
  font-style: italic;
  position: relative;
  left: 826px;
  font-weight: bold;
  top:7px;
}

#reason_content{
    top: 74px !important;
}

#reason_content .addOutletBoarders .row > .col:first-child{
  margin-left: -3px !important;
}

#reason_content .addOutletBoarders .row > .col{
  padding-top: 7px;
}

/*#reason_content .addOutletBoarders tbody td{
  padding: 4px 0px 4px 5px !important;
  border: #E2E2E2 solid 4px !important;
}*/

/* productOrder_content CSS*/
#productOrder_content{
  padding-top: 50px;
}

#productOrder_content .tab-box div{
  box-shadow: none !important;
}

#productOrder_content .tab-box div.productControl{
    text-align: left;
}

.cooler-scroll{
  height: 380px !important;
}
.nonub-cooler-scroll{
  height: 300px !important;
}
.temp3-scroll{
  height: 360px !important;
}
.image-scroll{
  height: 88px !important;
}
.addCooler-scroll{
  height: 360px !important;
}
.item-radio .radio-icon{
  padding: 4px !important;
}
.item-complex .item-content, .item-radio .item-content{
  padding: 6px 42px 6px 6px !important;
}
.my-menu .item-content{
  padding: 0px !important;
}
.btn-disabled {
padding: 0px 40px;
color: #EBF0F2 !important;
background-color: #BAE0E6 !important;
border-color: #4A8396 !important;
font-family: "OpenSans-Bold";
}
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #969696 !important;
  border-radius:50% !important;
  outline:none;
  box-shadow:0 0 5px 0px #38B6CB inset;
  box-shadow: none;
}

#containerForTemaplate2_content input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #969696 !important;
  border-radius:50% !important;
  outline:none;
  box-shadow:0 0 5px 0px #38B6CB inset;
  box-shadow: none;
}

#containerForTemaplate2_content input[type='radio'].radioButton_Active{
  border: 2px solid #38B6DB !important;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#38B6CB;
}
.loading-container .loading{
  background: none !important;
}

#containerForTemplate4_content .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 4px !important;
  border-top: 0px !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
}

#containerForTemplate4_content ion-scroll {
    box-shadow: none;
    min-height: 0px;
    max-height: 310px;
}

#containerForTemplate4_content .addOutletBoarders .row > .col:first-child{
  margin-left: -1px !important;
}


.col-8{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 8%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 8%;
  -ms-flex: 0 0 8%;
  flex: 0 0 8%;
  max-width: 8%;
}

.col-12{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 12%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 12%;
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
}

.col-21{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 21%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 21%;
  -ms-flex: 0 0 21%;
  flex: 0 0 21%;
  max-width: 21%;
}

.col-17{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 17%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 17%;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  max-width: 17%;
}

.col-13{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 12.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-24_8{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 26%;
}

#marketShare_content .BreadtopBar span{
  position: relative;  
  top: -6px;
  font-size: 14px;
  padding-left: 70px;
  padding-right: 70px;
}

#marketShare_content ion-scroll{
  width: 89.6%;
  margin: 0 auto;
  height: 65% !important;
}

#marketShare_content .marketShare_class .market_row .row > .col{  
  /*border-top: 0px !important;*/
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
}

#marketShare_content .marketShare_body > .col{ 
  border: 2px solid #e2e2e2;
  border-top: 0px !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  background-color:#ffffff;
}

#marketShare_content .forMonth_divide div:nth-child(1){ 
  flex: 0 0 25.3%;
}

#marketShare_content .forMonth_divide div:nth-child(2){ 
  flex: 0 0 25%;
}

#marketShare_content .forMonth_divide div:nth-child(3){ 
  max-width: 25.6%;
  margin-left: 1px;
  flex: 0 0 25.15%;
}

.borderSep{
  border-top: #e5e3e0 solid 4px !important;
  border-right: #e5e3e0 solid 4px !important;
}
.borderSep:last-child{
  border-right: #e5e3e0 solid 0px !important;
}
.my-menu{
    position:fixed;
  width:200px;
  background-color:rgba(0, 0, 0, 0.7);
  color:#FFFFFF;
  /*border-radius:5px;*/
  height:auto;
/*  padding:10px;*/
  right:0px;
  top:44px;
  z-index:999999;
  }
  .my-menu a.item-content{
    color:#FFFFFF !important;
  }
  .my-menu ion-item{
    border-top:0px solid #FFFFFF !important;
    border-right:0px solid #FFFFFF !important;
    border-bottom:1px solid #FFFFFF !important;
    border-left:0px solid #FFFFFF !important;
    padding: 16px !important;
    
  }
  .my-menu ion-item:last-child {
    border-top:0px solid #FFFFFF !important;
    border-right:0px solid #FFFFFF !important;
    border-bottom:0px solid #FFFFFF !important;
    border-left:0px solid #FFFFFF !important;
  
  }
  .angular-google-map-container { height: 100%; }
  #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
  
.myConfirm .popup{
  width: 500px;
  min-height: 175px;
}
.myConfirm .popup-head{
  display: none !important;
}


.myConfirm .popup-body{
  overflow: visible !important;
  background-color: #fff;
  padding: 22px !important;
}

.myConfirm .popup-buttons{
  display: none !important;
}

.resumeConfirm .popup{
  width: 450px;
  min-height: 105px;
}
.resumeConfirm .popup-head{
  display: none !important;
}
.resumeConfirm .popup-body{
  overflow: visible !important;
  background-color: #fff;
  padding: 22px !important;
}
.resumeConfirm .popup-buttons{
  display: none !important;
}


.checkoutConfirm .popup{
  width: 450px;
  height: 145px;
}
.checkoutConfirm .popup-head{
  display: none !important;
}
.checkoutConfirm .popup-body{
  overflow: visible !important;
  padding: 18px;
  background-color: #fff;
}
.checkoutConfirm .popup-buttons{
  display: none !important;
}
.popup-container{
  background: rgba(0,0,0,0.5) !important; 
}
#overview_content .borderBottom_right, #overview_content .borderBottom_right_indi{
  position: absolute;
  height: 5px;
  width: 2px;
  background-color: #ccc;
  top: 108px;  
}

#overview_content .forBorders button:nth-of-type(1) .borderBottom_right{
  left: 33.5%;   
}

#overview_content .forBorders button:nth-of-type(2) .borderBottom_right{
   left: 62.9%; 
}

#overview_content .forBorders button:nth-of-type(3) .borderBottom_right{
  left: 92%;   
}

#overview_content .forBorders button:nth-of-type(1) .borderBottom_right_indi{
  left: 32%;   
}

#overview_content .forBorders button:nth-of-type(2) .borderBottom_right_indi{
   left: 61.4%; 
}

#overview_content .forBorders button:nth-of-type(3) .borderBottom_right_indi{
  left: 90.6%;   
}

#overview_content .borderBottom_left{
  position: absolute;
  height: 5px;
  width: 2px;
  background-color: #ccc;
  top: 108px; 
}

.refresh_active{
  color: #38b6cb !important;
}

.refresh_inActive{
  color: #fff !important;
}

#today_content .btn-common-today{
  border-radius: 0px !important;
  font-family: "OpenSans-Bold" !important;
}

#today_content .col-lg-3{
  text-align: center !important;
}
#today_content .mid-but ul li a { 
  border-radius: 0px !important;
}

#today_content .services .box{ 
  box-shadow: 0px 5px 5px -1px #A5A0A0;
}

#overview_content .ani-number{
  padding-left: 5% !important;
}

#overview_content .ani-number button{
  width: 28%;
}

#overview_content .btn-danger-more{
  float: right;
  margin-right: 3%; 
}

#overview_content .btn-danger-more button{
  border-radius: 0px;
}

#overview_content .services .box{
  box-shadow: 0px 5px 5px -2px #A5A0A0;
}

#addNew_cooler .selectpicker{
  width: 55% !important;
  border-radius: 0px !important;
  border: none !important;
  height: auto !important;
  padding-left: 5% !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

#addNew_cooler textarea{
  border: none !important;
  border-bottom: 1px solid #000 !important;
  height: 90px !important;
  width: 100% !important;
  margin-top: 10px;  
}

#addNew_cooler table{
  width:56%; 
  margin:0px auto;
  margin-top: 20px;
}

#addNew_cooler tbody tr:first-child {
  border-top: 16px solid #e2e2e2;
}

#addNew_cooler tbody tr {
    border-top: 25px solid #e2e2e2;
}

.btn-danger{
  border-radius: 0px !important;
  font-family: "OpenSans-Bold" !important;
}

#notification_content{
 
  margin:0 auto; 
  
  background-color:#ffffff !important;
}

#notification_content .item-thumbnail-left img{
  max-width: 8%;
  max-height: 43px; 
  margin: 15px;
}

#notification_content .item-thumbnail-left span{
  float:right; 
  vertical-align:baseline; 
  margin-top: -8px;
  color: #000;
  font-family: "OpenSans-Bold";
}

#notification_content .item-thumbnail-left p{
  padding: 5px 0px 0px 0px;  
  position: relative;
  left: -17px;
}

#notification_content .item-thumbnail-left h2{
  margin:  19px 0px 0px -17px;
  color: #000;
  font-family: "OpenSans-Bold";
}

#notification_content .item-thumbnail-left a{
  margin-bottom: -2px;
}

input,textarea {
    padding: 6px 10px 6px 10px;
    font-size: 16px !important;
}
/*textarea::-webkit-input-placeholder {
    padding: 6px 0px 0px 10px;
}*/
.modal {
margin:0 auto !important;
z-index: 1040;
display: block !important;
width: 56% !important;
height: 90% !important;
overflow-y: hidden !important;
overflow:hidden !important;
}

.cooler-left-part{
  width: 65% !important;
  margin-left: 20px !important;
}

.cooler-right-part{
  padding: 7 15px 0 0 !important;
}

.current-img-div{
  border: none !important;
}

.slider-pager .slider-pager-page{
  opacity: 0.8 !important;
  color: #fff !important;
}

.slider-pager .slider-pager-page.active{
  color: #555555 !important;
}

.back-button{
  font-family: "OpenSans-Regular";
}

#marketShare_content .slider-pager{
  position: fixed;
  bottom: -3px;
}

.alert p{  
  margin: -1px -7px -4px -5px !important;
}

#callSummary_content h1{
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

#callSummary_content .tab-box{
  margin-left: 20px;
}

#callSummary_content .bot-but{
  text-align: right; 
  margin-top: 93px;
}

#callSummary_content .bot-but button{
  margin-top:20px;  
  margin-right: 10px
}

#callSummary_content .textArea_block{
  box-shadow: none !important; 
  width: 95%;
}

#callSummary_content .textArea_block textarea{
  width:100% !important; 
  height: 107px !important;
  border: none !important;
  border-bottom: 1px solid grey !important;
}

.addOpacity{
  opacity: 1;
}

.removeOpacity{
  opacity: 0;
}

.text_Center{
  text-align: center;
}

.right-con a{
  text-decoration: none;
}
#containerForTemaplate2_content .descriptionBox{
  width: 100% !important;
  text-align: left !important;
  height: 30px;
  overflow-y: hidden;
  padding: 3px 13px 0px 10px;
}

#containerForTemaplate2_content .descriptionBox span{
  word-break: break-word;
}

#containerForTemaplate2_content .descriptionBox div:nth-child(2){
  left: 538px !important;
  top: 34px !important;
}

#containerForTemaplate2_content .descriptionBox div:nth-child(3) {
  left: -10px !important;
  top: -1px !important;
}

#overview_content .forBorders > button {
    font-size: 16px !important;
}
#overview_content .ani-number.forBorders {
    margin-top: 8px;
}

.table input[type="date"] {
  -webkit-appearance: none;
  background-image: url('../img/calendar.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
#addNew_cooler .selectpicker{
  width: 61% !important;
  border-radius: 0px !important;
  border: none !important;
  height: auto !important;
  padding-left: 5% !important;
  padding-top: 3px;
  padding-bottom: 3px;
}
a{
  text-decoration: none !important;
}

.col-14 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 14%;
  -ms-flex: 0 0 14%;
  flex: 0 0 14%;
  max-width: 14%; 
}

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 11.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 11.5%;
  -ms-flex: 0 0 11.5%;
  flex: 0 0 11.5%;
  max-width: 11.5%; 
}

.col-6{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 6%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 6%;
  -ms-flex: 0 0 6%;
  flex: 0 0 6%;
  max-width: 6%; 
}

.col-7{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 7%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 7%;
  -ms-flex: 0 0 7%;
  flex: 0 0 7%;
  max-width: 7%; 
}

.col-18{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 18%;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  max-width: 18%; 
}

.col-16{
   -webkit-box-flex: 0;
  -webkit-flex: 0 0 16%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 16%;
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  max-width: 16%;
}

#containerForTemplate_content .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 2px !important;
  border-top: 2px solid #e5e3e0 !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  padding: 7px 0px 4px 0px;
}

#containerForTemplate_content ion-scroll{  
  box-shadow: none !important;  
  max-height: 59%;
  min-height: 59%;
  background-color: #e2e2e2; 
  overflow: hidden;
}

#containerForTemplate_content .row + .row{  
  margin-top: -1px;  
}

#containerForTemplate_content .addOutletBoarders .row > .col:first-child{
  margin-left: -1px !important;
}

#containerForTemplate_content .addOutletBoarders{
  margin:  12px 0px 0px 39px !important;
  width: 91.8%;
}

#containerForTemplate_content .addOutletBoarders .rowHeader{
  background-color:#38B6CB !important; 
  min-height: 40px; 
  box-shadow: none !important; 
  border-radius: 0px; 
  margin-top: 2px;
  color: #fff;    
}

#containerForTemplate_content .complaints_next{  
  text-align: right;
  min-height: 0px;
  box-shadow: none;
  background-color: #e2e2e2;
  bottom: -16px;   
}
#containerForTemplate_content .rowComplaintsClass{ 
  background-color: #fff;  
}

#containerForTemplate_content .addComplaintbutton{ 
  text-align: right;
  border: none;
  width: 92%; 
}

#containerForTemplate_content .addComplaintbutton > button{ 
  line-height: 31px; 
  height: 31px; 
  min-height: 31px;  
  z-index:999; 
  padding: 0 14px;
}

#addFeedback_content input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #969696 !important;
  border-radius:50% !important;
  outline:none;
  box-shadow:0 0 5px 0px #38B6CB inset;
  box-shadow: none;
}

#addFeedback_content input[type='radio'].radioButton_Active{
  border: 2px solid #38B6DB !important;
}

#notification_view .blueBar{
  position: absolute;
  height: 22px;
  width: 100%;
  background-color: #38B6CB;
  bottom: 0px;
}

#notification_view .notifyStatus{
  text-align: right;  
  padding-right: 9px;
  font-style: italic;
  display: inline-block;
  width: 50%;
  font-weight: bold;
  color: #000;
}

#notification_view .trainglesBlock{
  width: 50%;
  display: inline-block;
  float: left;
}

#notification_view .trainglesBlock > span:nth-child(1){
  float: right;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  top: 3px;  
  display: inline-block;
  margin-top: 2px;  
}

#notification_view .trainglesBlock > span:nth-child(2){
  border-top: 7px solid #fff;  
  border-left: 7px solid transparent;  
  border-right: 7px solid transparent;
  float: right;
  top: 12px;
  margin-top: 11px;
  margin-right: -14px;
}

#addFeedback_content .image-capture{
 max-height: 31%;
overflow: auto;
height: 30.5%;
}

#addFeedback_content .image-current{
  max-height: 30%;
  overflow: auto;
  height: 30%;
}

#addFeedback_content .cooler-right-part{
  padding: 38 15px 0 0 !important;
}

#addFeedback_content .second-mid-head{
  text-align:center; 
  border:none; 
  height:56px; 
  background: #E2E2E2;  
  z-index:9;
}

#addFeedback_content .cooler-left-part-parent{
  width:95%; 
  margin:0 auto;
}

#addFeedback_content .cooler-left-part{
  margin-left: 20px !important;
}

#addFeedback_content .tab-box{
  width:100%; 
  margin: 5px 0px 0px 12px !important;
}

#addFeedback_content .tab-box > span{
  text-align:left;
}

#addFeedback_content .cooler-scroll{
  box-shadow: none !important;
}

#addFeedback_content .cooler-scroll{
  box-shadow: none !important;
}

.editFeedback_content .image-current.tapTocapture {
  height: 10% !important;
  margin-top: 8px;
  margin-bottom: 2px;
}

.editFeedback_content .image-current.tapTocapture > img {
  width: 100%;
}


.editFeedback_content .image-capture{
  max-height: 24%;
  overflow: auto;
  height: 23.7%;
}

.editFeedback_content .image-current{
  max-height: 24%;
  overflow: auto;
  height: 23.7%;
}

.editFeedback_view .editFeedback_content .image-current{
  max-height: 20%;
  overflow: auto;
  height: 20%;
}

.editFeedback_content .cooler-right-part{
  padding: 38 15px 0 0 !important;
}

.pop-right-part{
  margin-top: 30px;
}

.pop-right-part .image-current{
  max-height: 80px;
  background-color: #fff;
  margin-top: 31px;
  height: 60px;
}

.pop-right-part > .current-img-div{
  
  overflow: hidden;
}

.pop-right-part .image-capture{
  height: 120px;
}

/*.myConfirm input::-webkit-input-placeholder{
  padding-left: 10px;
}*/

.myConfirm input{
  border: none !important;
  border-bottom: 1px solid #000 !important;
  width: 94% !important;
  margin: 0px 10px;
  padding-left: 10px;
}

.myConfirm .piller{
  position: absolute;
  height: 5px;
  width: 1px;
  background-color: #000;
  margin-top: -5px;
  left: 31px;
}

.myConfirm .piller_1{  
  left: 460px;
}

.myConfirm .popup-body > span:nth-child(1){  
  color: #000;
}

.myConfirm .coolerRemove_yes{  
  color: #aaaaaa;
}

#callSummary_content .middle-bottom-box_1{
  width: 64%;
}

#callSummary_content .curretnVisit_block > img{
  width: 22%;
  height: 23%;
  margin-right: 11px;
  margin-top: 5px;
  margin-left: 0px;
}
#addFeedback_content .curretnVisit_block > img{
  width: 30.6%;
  height: 49%;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 0px;
  float: left;
}

#addFeedback_content .curretnVisit_block > img:nth-child(2), #addFeedback_content .curretnVisit_block > img:nth-child(3){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}

#addFeedback_content .curretnVisit_block > img:nth-child(5), #addFeedback_content .curretnVisit_block > img:nth-child(6){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}

#addFeedback_content .curretnVisit_block > img:nth-child(1), #addFeedback_content .curretnVisit_block > img:nth-child(4){  
  margin-right: 0px;
}

#addFeedback_content .table input[type="date"]{
  width: 55% !important;
  height: 35px !important;
  background-color: #efeeec;
  border: none !important;
  border-radius: 0px !important;
}

#addFeedback_content .table{
  margin-top: -3px;
  margin-left: 13px;
}

#callsummary_content .curretnvisit_block > img:nth-child(2), #callsummary_content .curretnvisit_block > img:nth-child(3),#callsummary_content .curretnvisit_block > img:nth-child(4){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}

#callSummary_content .curretnVisit_block > img:nth-child(6), #callSummary_content .curretnVisit_block > img:nth-child(7),#callSummary_content .curretnVisit_block > img:nth-child(8){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}
#callSummary_content .curretnVisit_block > img:nth-child(10), #callSummary_content .curretnVisit_block > img:nth-child(11),#callSummary_content .curretnVisit_block > img:nth-child(12){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}
#callSummary_content .curretnVisit_block > img:nth-child(14), #callSummary_content .curretnVisit_block > img:nth-child(15),#callSummary_content .curretnVisit_block > img:nth-child(16){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}

#callSummary_content .curretnVisit_block > img:nth-child(1), #callSummary_content .curretnVisit_block > img:nth-child(5), #callSummary_content .curretnVisit_block > img:nth-child(9), #callSummary_content .curretnVisit_block > img:nth-child(13){  
  margin-right: 0px;
}

#callSummary_content .cooler-right-part{  
  margin: 55px 0px 0px 0px;
}

#callSummary_content .bot-but{  
  margin: -20px -20px !important;
}

.editFeedback_content .table{
  margin-top: -3px;
  margin-left: 13px;
}

.editFeedback_content .table input[type="date"]{
  width: 55% !important;
  height: 35px !important;
  background-color: #efeeec;
  border: none !important;
  border-radius: 0px !important;
}

.editFeedback_content .table input[type="text"], .editFeedback_content .table input[type="number"], {
  width: 90% !important;
  height: 50px !important;  
}

.editFeedback_content input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #969696 !important;
  border-radius:50% !important;
  outline:none;
  box-shadow: none;
}

.editFeedback_content input[type='radio'].radioButton_Active{
  border: 2px solid #38B6DB !important;
}

#editFeedback_view .bot-but{
  position:fixed; 
  bottom:10px; 
  text-align:right;
  width: 94%;
}

.editFeedback_content .radio span{
  line-height: 35px; 
  padding-left: 10px;
}

.editFeedback_content .radio{
  width:40%; 
  float:left;
  margin-top: 0px !important; 
  margin-bottom: 0px !important;
}

.editFeedback_content .tab-box{
  width:100%;
  margin: 5px 0px 0px 12px !important;
}

.editFeedback_content .cooler-page{
  margin-left: 20px !important;
}

.editFeedback_content .cooler-page-parent{
  width:95%; 
  margin:0 auto;
}

.editFeedback_content .backButton, .editFeedback_content .saveButton{
  margin-right: 40px;
  min-width: 133px;
}

.editFeedback_content .col-md-12{
  text-align:center; 
  border:none; 
  height:56px; 
  background: #E2E2E2;  
  z-index:9;
}

.editFeedback_content .currentVisitPics{
  max-height: 150px;
  min-height: 150px;
  overflow: auto;
  height:150px;
}

.editFeedback_content .curretnVisit_block > img:nth-child(2), .editFeedback_content .curretnVisit_block > img:nth-child(3){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}

.editFeedback_content .curretnVisit_block > img:nth-child(5), .editFeedback_content .curretnVisit_block > img:nth-child(6){
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}

.editFeedback_content .curretnVisit_block > img:nth-child(1), .editFeedback_content .curretnVisit_block > img:nth-child(4){  
  margin-right: 0px;
}

.editFeedback_content .curretnVisit_block > img{
  width: 30.6%;
  height: 49%;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 0px;
  float: left;
}

.cooler-right-part h2{
  text-transform: none;
}

.blockHeading{
  padding: 4px 50px !important;
}

.lineForDividing{
  width: 326%;
  height: 2px;
  background-color: #38b6cb;
}
.editFeedback_content .previous-input-focus{
  left: 0px;
  position: relative !important;
}
.editFeedback_content .cloned-text-input{
   display: none;
}
#addFeedback_content .previous-input-focus{
  left: 0px;
  position: relative !important;
}
#addFeedback_content .cloned-text-input{
   display: none;
}
.editFeedback_content .table .disableCss input[type="date"] {
    opacity: 0.2 !important;
}
#lastVisitSummary_content .oldestSKU{
  width: 30%;
  background-color: #fff;
  display: inline-block;
  margin: 0px 0px 10px 20px;
}

#lastVisitSummary_content .oldSKU{
  width: 30%;
  display: inline-block;
  margin: 0px 0px 10px 10px;
}

#lastVisitSummary_content .oldestSKU td {
    padding: 5px 0px;
}
#lastVisitSummary_content .oldSKU td {
    padding: 5px 0px;
}
#lastVisitSummary_content .oldestSKU tr:first-child {
    border: 0px !important;
    background-color: #38b6cb;
    border-top: transparent;
}

#lastVisitSummary_content .oldSKU tr:first-child {
    border: 0px !important;
    background-color: #38b6cb;
}

#lastVisitSummary_content .oldestSKU tr:first-child td {
    border: #38b6cb solid 3px !important;
    color:#ffffff;
}

#lastVisitSummary_content .oldSKU tr:first-child td {
    border: #38b6cb solid 3px !important;
    color:#ffffff;
}
.loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#containerForTemplate6_content .addOutletBoarders .rowHeader{   
  background-color:#38B6CB !important;    
  min-height: 40px;     
  box-shadow: none !important;    
  border-radius: 0px;       
  color: #fff;        
}   
#containerForTemplate6_content ion-scroll{      
  box-shadow: none !important;    
  width: 97.1%;     
  max-height: 67%;    
  min-height: 67%;    
  background-color: #e2e2e2;    
  overflow: hidden;     
}   
#containerForTemplate6_content .rowComplaintsClass {    
    background-color: #fff;   
}   
#containerForTemplate6_content .rowHeader{      
  width: 97%;   
}   
#containerForTemplate6_content .addOutletBoarders .rowHeader>.col:nth-child(1), #containerForTemplate6_content .addOutletBoarders .rowHeader>.col:nth-child(2){   
  -webkit-box-flex: 0;    
  -webkit-flex: 0 0 20%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 20%;   
  -ms-flex: 0 0 20%;    
  flex: 0 0 18%;    
  max-width: 20%;   
}   
#containerForTemplate6_content .addOutletBoarders .rowHeader>.col:nth-child(3){   
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 10%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 10%;   
  -ms-flex: 0 0 10%;    
  flex: 0 0 11%;    
  max-width: 13%;     
}   
#containerForTemplate6_content .addOutletBoarders .rowHeader>.col:nth-child(4){   
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 10%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 10%;   
  -ms-flex: 0 0 10%;    
  flex: 0 0 14%;    
  max-width: 15%;     
}   
#containerForTemplate6_content .col-36{   
  -webkit-box-flex: 0;    
  -webkit-flex: 0 0 30%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 30%;   
  -ms-flex: 0 0 30%;    
  flex: 0 0 40%;    
  max-width: 40%;   
}   
#containerForTemplate6_content .addOutletBoarders .row > .col{    
  border: #e5e3e0 solid 3px !important;   
  border-top: 3px solid #e5e3e0 !important;   
  min-height: 41px;   
  vertical-align: middle;   
  text-align: center !important;    
  padding: 7px 0px 4px 0px;   
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass>.col:nth-child(1), #containerForTemplate6_content .addOutletBoarders .rowComplaintsClass>.col:nth-child(2){   
    -webkit-box-flex: 0;    
  -webkit-flex: 0 0 20%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 20%;   
  -ms-flex: 0 0 20%;    
  flex: 0 0 18%;    
  max-width: 20%;     
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass>.col:nth-child(3){    
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 10%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 10%;   
  -ms-flex: 0 0 10%;    
  flex: 0 0 11%;    
  max-width: 13%;     
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass>.col:nth-child(4){    
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 10%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 10%;   
  -ms-flex: 0 0 10%;    
  flex: 0 0 14%;    
  max-width: 15%;     
}   
#containerForTemplate6_content .addOutletBoarders .rowHeader > .col:last-child{   
  border-left: 7px solid #E5E3E0 !important;    
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass > .col:last-child{    
  border-left: 7px solid #E5E3E0 !important;    
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass .col-36 > img{    
  width: 79px;    
  height: 42px;   
  padding-top: 4px;   
  margin-left: 6px;   
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass .col-36{    
 text-align: left !important;   
 padding: 0;    
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass input[type="number"]{   
  border: none !important;    
  text-align: center;   
  padding-right: 0px;   
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass p{    
  margin: 4 0 10px;   
}   
input[type='radio'].radioButton_Active{   
  border: 2px solid #38B6DB !important;   
}   
.checkBoxStyle_clicked .checkbox-icon:after, .checkBoxStyle_clicked .checkbox input:after{    
  border-color: #000 !important;    
}   
.checkBoxStyle_clicked .checkbox input:checked:before, .checkBoxStyle_clicked .checkbox input:checked + .checkbox-icon:before{    
  border-color: #000 !important;    
  border-width: 1px !important;   
  border-radius: 1px !important;    
  background: #fff !important;    
  background-color: #fff !important;    
}   
.checkbox input:before, .checkbox .checkbox-icon:before{    
  border-color: #000 !important;    
  border-width: 1px !important;   
  border-radius: 1px !important;    
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass:last-child > .col {   
    border-bottom: 0px solid !important;    
}   
#addNew_cooler .checkBoxStyle_2:not(.showClass){    
  opacity: 0.5 !important;    
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass .col-36 > img:nth-child(5), #containerForTemplate6_content .addOutletBoarders .rowComplaintsClass .col-36 > img:nth-child(6){   
    display: none;    
}   
#containerForTemplate6_content .item.item-checkbox.ng-valid.specificCheck {   
    margin-left: 15px !important;   
}
.captureSales tbody>tr:first-child > th:nth-child(1) {
    opacity: 0;
    border-color: #e2e2e2;
}

.captureSales tbody>tr:first-child{
    background-color: #e2e2e2;
}

.captureSales tbody>tr:first-child > th:nth-of-type(3), .captureSales tbody>tr:first-child > td:nth-of-type(2) {
    color: #fff;
    border-color: #e2e2e2;
    background-color: #38b6cb;
    padding: 10px 5px;
    text-align: center !important;
}

.captureSales tbody>tr:not(first-child) > td{
    color: #000;
}

.captureSales tbody>tr:not(first-child) > th:nth-of-type(1){
    color: #000 !important;
    vertical-align: middle;
    padding-left: 14px !important;
    border: 3px solid #e2e2e2;
}
.captureSales tbody>tr:not(first-child) > td:nth-of-type(1), .captureSales tbody>tr:not(first-child) > td:nth-of-type(2){
    width: 150px;
    height: 41px;
    vertical-align: middle;
}

.captureSales tbody>tr:not(first-child) > td:nth-of-type(4), .captureSales tbody>tr:not(first-child) > td:nth-of-type(3){
    width: 160px;    
    vertical-align: middle;
}

.captureSales tbody>tr:not(first-child) > td:nth-of-type(4) > input, .captureSales tbody>tr:not(first-child) > td:nth-of-type(3)> input{
    border: none !important;   
    vertical-align: middle;
    border-bottom: 2px solid #000 !important;
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 8px;
}

.captureSales .ng-binding{
    width: 160px;    
    vertical-align: middle;
    background-color: #bdbdbd;
}

.captureSales .piller_1{
  position: relative;
  background-color: #000;
  height: 7px;
  width: 2px;
  top: -7px;
  left: 7px;
}

.captureSales .piller_2{
  position: relative;
  background-color: #000;
  height: 7px;
  width: 2px;
  top: -14px;
  right: -140px;
}

.captureSales table{
  background-color: #fff;
}
.promotions_content .table tr td > input[type="number"] {
    border-radius: 0px !important;
    width: 40% !important;
}
#overview_content .lastVisitCall p {
    min-height: 25%;
    background-color: #fff;
    margin-top: 0.2%;
    padding: 11px;
    color: grey;
    font-weight: bold;
}
.depotContainerForTemaplate2 input[type="number"]{
  margin: 0 auto;
  border: none !important;
  text-align: center;
  padding-right: 0px;
}

.depotContainerForTemaplate2 .row > .col{    
  border: #e5e3e0 solid 3px !important;   
  border-top: 3px solid #e5e3e0 !important; 
  min-height: 41px;   
  vertical-align: middle;   
  text-align: center !important;    
  padding: 7px 0px 7px 0px;   
}

.depotContainerForTemaplate2 .rowComplaintsClass > .col{    
  margin-left: -2px;  
}

.depotContainerForTemaplate2 .stackPageHeading > .col{    
  margin-left: -2px;  
  background-color: #38b6cb;
  margin-top: 1px;
}

.depotContainerForTemaplate2 .rowComplaintsClass > .col{     
  background-color: #fff;
}

.depotContainerForTemaplate2 .stackPageHeading{    
  background-color: #e2e2e2 !important;
}

.depotContainerForTemaplate3 .first_scroll .row > .col, .depotContainerForTemaplate3 .second_scroll .row > .col{    
  border: #e5e3e0 solid 2px !important;   
  border-top: 2px solid #e5e3e0 !important; 
  min-height: 41px;   
  vertical-align: middle;   
  text-align: center !important;    
  padding: 7px 0px 7px 0px;   
  background-color: #fff;
}


.depotContainerForTemaplate3 .first_scroll, .depotContainerForTemaplate3 .second_scroll{
  width: 88%;
  margin: 0 auto;
  max-height: 63% !important;
}  

.depotContainerForTemaplate3 .blockContainer_1 {
    margin-bottom: 12px;
    height: 116px;
} 

.indentDetails tr > th:first-child{
     background-color: #e2e2e2; 
    color: #000 !important;
}

.indentDetails input[type="number"]{
    border: none !important;    
  text-align: center;   
  padding-right: 0px;
  border-bottom: 2px solid !important;
  border-radius: 0px !important;
    width: 97% !important;
}


.indentDetails th{
  border: #fff solid 4px !important;
  border-top: 0px !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  margin-left: -2px;
}

.indentDetails tr > th:first-child{
  width: 55%;
}

.indentDetails{
  width: 98%;
}
.table tr td.verticalTop{   
  vertical-align: top !important;   
  font-weight: bold;
}
.total_class > .col{
  background-color: #8d8d8d !important;
  color: #ffffff;
}
.outletClass{
  color: #33363a !important;
}

.depotClass{
  color: #f39c48 !important;
}
.wholeSaleClass{
  color: #2953a1 !important;
}

/*#retailsSales_view ion-content .row > .col{
  border: #e5e3e0 solid 2px !important;   
  border-top: 3px solid #e5e3e0 !important; 
  min-height: 41px;   
  vertical-align: middle;   
  text-align: center !important;    
  padding: 7px 0px 7px 0px;   
  background-color: #fff;
}*/

.rowHighlightOnResponse{
  background-color: #B1E0E9 !important;
}

.col-76 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 76%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 76%;
  -ms-flex: 0 0 76%;
  flex: 0 0 76%;
  max-width: 76%; 
}

.image-modal .slider-pager{
  position: fixed !important;
}

.rowHighlightOnResponse > div:last-child{

  /*background: url('../img/paper-fold-ub-icon2.png');*/
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.rowHighlightOnResponse > div:first-child{

  background: url('../img/exclamation_icon.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 3px 50%;
}
.rowHighlightOnResponse > div:last-child img{

  display: none;
}
.table tr td.paymentDetails{
  font-weight: bold;  
}


#addNew_visibility tbody tr {
    border-top: 0px solid #e2e2e2 !important;
}

#callSummary_content .addOutletBoarders .row > .col{
  border: #e5e3e0 solid 3px !important;
  border-top: 0px solid #e5e3e0 !important;
  min-height: 41px;
  vertical-align: middle;
  text-align: center !important;
  padding: 7px 0px 4px 5px;
}

#containerForTemplate6_content .addOutletBoarders #competitor>.col:nth-child(1), #containerForTemplate6_content 

.addOutletBoarders #competitor>.col:nth-child(2){   
  -webkit-box-flex: 0;    
  -webkit-flex: 0 0 20%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 20%;   
  -ms-flex: 0 0 20%;    
  flex: 0 0 20%;    
  max-width: 20%;   
}   
#containerForTemplate6_content .addOutletBoarders #competitor>.col:nth-child(3){   
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 10%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 10%;   
  -ms-flex: 0 0 10%;    
  flex: 0 0 21%;    
  max-width: 21%;     
} 
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass.competitorClass>.col:nth-child(1), 

#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass.competitorClass>.col:nth-child(2){   
  -webkit-box-flex: 0;    
  -webkit-flex: 0 0 20%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 20%;   
  -ms-flex: 0 0 20%;    
  flex: 0 0 20%;    
  max-width: 20%;   
}   
#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass.competitorClass>.col:nth-child(3){   
   -webkit-box-flex: 0;   
  -webkit-flex: 0 0 10%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 10%;   
  -ms-flex: 0 0 10%;    
  flex: 0 0 21%;    
  max-width: 21%;     
}   

#containerForTemplate6_content .addOutletBoarders .rowComplaintsClass.competitorClass>.col:nth-child(4), #containerForTemplate6_content .addOutletBoarders #competitor>.col:nth-child(4){   
  -webkit-box-flex: 0;    
  -webkit-flex: 0 0 30%;    
  -moz-box-flex: 0;   
  -moz-flex: 0 0 30%;   
  -ms-flex: 0 0 30%;    
  flex: 0 0 40%;    
  max-width: 40%;   
}

.common-scroll{
  height: 80% !important;
}
#addFeedback_content .common-scroll{
  height: 70% !important;
}

#editFeedback_content .common-scroll{
  height: 70% !important;
}

.addCooler-scroll-common{
    height: 80% !important;
}

.overview_content_wholesale .box-mid {
  min-height: 30%;
  border-radius: 0px 0px 5px 5px;
}

.overview_content_wholesale .overview-div{
  width: 47% !important;
  height: 35%;
}
.overview_content_outlet .box-mid {
  min-height: 41%;
  border-radius: 0px 0px 5px 5px;
}
@media screen and (max-height: 537px) {
    .bottom-con1 > span {
        font-size: 80% !important;
    }
}
.myCompany{
	background: #38b6cb;
	color: #ffffff;
	padding: 5px 17px;
	font-weight: bold;
}
.stackSalesClass{
	background: #ffffff;
}
#callSummary_content .stackSalesClass{
	border-bottom: 6px #E2E2E2 solid;
}
#stockDetails_view .fadded{
	font-weight: normal;
	color: #999999;
}
#retailsSales_view .row,#chattaiSales_view .row{
	border-bottom: 7px #E2E2E2 solid;
}