

<ion-view view-title="{{currentOutlet.Name}}">
  <ion-content id="addFeedback_content">    
    <div class="col-md-12 second-mid-head">
      <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems">
      <div class="mask_1" ng-show="key==0"></div>
        <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
        <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
        <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
      </div>
    </div>    
          
          
      <div class="cooler-left-part-parent">
        <div class="cooler-left-part cooler-page">
          <div class="col-lg-4 tab-box">
            <span>Feedback</span>
            <ion-scroll direction="y" delegate-handle="small-{{order}}{{key}}" zooming="false" class="cooler-scroll">
            <table class="table no-border" cellpadding="0" cellspacing="0">
              <tbody>
                <tr ng-repeat="field in feedback_fieldList.fields" ng-hide="isFieldVisible(field.Dependent_Value__c,upload[field.Dependent_Field__c]) || isFieldVisible(field.Dependent_Value__c,uploadfields[order][key][field.Dependent_Field__c])">
                  <td ng-show="field.Type__c!='title'" style="width: 32% !important;">{{field.Name}}</td>
                  <td ng-show="field.Type__c!='title'">
                    <input type="text"
                      name="input"
                      style="width: 90% !important; height:50px !important;"
                      id="{{ field.Field_API__c }}"
                      ng-blur="updateSlide(order+''+key)"
                      data-ng-model="uploadfields[order][key][field.Field_API__c]" 
                      data-ng-show="{{field.Type__c!='title'&& field.Type__c=='text' || field.Type__c=='number' ||field.Type__c=='date'}}"
                      required>
                    <textarea name="textarea"
                    style="width: 100% !important; height: 70px !important;background-color: #e2e2e2;border: none !important;border-bottom: 1px solid #000 !important;"
                    id="{{ field.Field_API__c }}" ng-blur="updateSlide(order+''+key)"
                    data-ng-model="uploadfields[order][key][field.Field_API__c]" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='textarea'}}" ></textarea>
                    <select class="selectpicker" style="width: 67%;background-color: #e2e2e2;border-radius: 0px !important;border: none !important;" data-ng-model="uploadfields[order][key][field.Field_API__c]"  ng-options="pickVal for pickVal in field.pickListValues" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='select'}}">
                      <option value="">{{ field.Name | cut:true:17:' ...' }}</option>
                    </select>
                    <div class="radio" ng-repeat="radioValue in field.pickListValues" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='radio'}}" style="width:40%; float:left;margin-top: 0px !important; margin-bottom: 0px !important;">
                        <label>
                            <input type="radio" name="radio{{order}}{{key}}{{field.Field_API__c}}"  ng-model="uploadfields[order][key][field.Field_API__c]" ng-value="radioValue" style="width: 30px !important; outline: none;" ng-click="changeValue(order,key,field.Field_API__c,radioValue);" ng-class="{radioButton_Active:uploadfields[order][key][field.Field_API__c]==radioValue}" />
                            <span style="line-height: 35px; padding-left: 10px;">{{radioValue}}</span>
                        </label>
                    </div>
                    <ion-radio ng-repeat="radioValue in field.pickListValues" ng-value="radioValue"   ng-model="uploadfields[order][key][field.Field_API__c]" name="{{order}}{{key}}{{field.Field_API__c}}" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='ion-radio'}}" style="width:45%; float:left;" >{{radioValue}}</ion-radio>
                    <div data-ng-show="{{field.Type__c!='title'&& field.Type__c=='output'}}" style="width: 22%; background-color: #e2e2e2; border-bottom: 1px solid; text-align: center;" ng-class="{descriptionBox:field.Field_API__c=='Activity_Description__c'}">
                      <span style="width:90%" >{{upload[field.Field_API__c]!=undefined && upload[field.Field_API__c]!='' ? upload[field.Field_API__c] :'-'}}</span>
                      <div style="width: 1px; height: 5px; background-color: #000; position: absolute;left: 327px;"></div>
                      <div style="width: 1px; height: 5px; background-color: #000; position: relative;"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>            
              
            </ion-scroll>
          </div>
        </div>                  
        <div class="cooler-right-part">          
          <div class="current-img-div">
            <h2 style="text-transform: none;">Current Visit</h2>            
            <div class="image-current">
              <img ng-src="data:image/jpeg;base64,{{imgg}}" ng-repeat="imgg in PrideImages[upload.External_Id__c]" ng-show="PrideImages[upload.External_Id__c].length>0" ng-click="takePicture('{{upload.External_Id__c}}');" >
              <img src="./img/camera-cooler.png" ng-hide="PrideImages[upload.External_Id__c].length>0" ng-click="takePicture('{{upload.External_Id__c}}');" >                  
            </div>
          </div>
          <div class="current-img-div">
            <h2 style="text-transform: none;">Last Visit</h2>
            <div class="image-capture">
              <img ng-repeat="lastCooler in lastCoolers" ng-if="lastCooler.External_Id__c.indexOf(upload.Id)!=-1 || lastCooler.External_Id__c.indexOf(upload.External_Id__c)!=-1" ng-src="data:image/jpeg;base64,{{lastCooler.Body}}"  > 
            </div>
          </div>
          <br/>
          
        </div>           
      </div>
            
  </ion-content>
   <div class="bot-but " style="position:fixed; bottom:10px; text-align:right;">
      <button class="button btn-danger" ng-click="cancelNewFeedback();" >Cancel</button>
      <button class="button btn-danger" style="margin-right:40px;min-width: 133px;" ng-click="saveNewFeedback();">Add</button>
      <!-- ng-click="saveNew();" ng-class="{'btn-disabled': !showAdd,'btn-danger': showAdd}" -->
    </div>
</ion-view>