<ion-view view-title="Add {{addNewLabel}}">
  <ion-content id="addNew_cooler"> 
    <div class="mypane" style="min-height:80%; background: none !important;">
                <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:11%;">
                  <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
                  <div class="mask_1" ng-show="key==0"></div>
                    <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
                    <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
                    <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
                  </div>
                </div>
                <ion-scroll direction="y" class="addCooler-scroll addCooler-scroll-common" zoom="false" style="clear: both;">
                  <table class="table no-border" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr ng-repeat="field in addNewSectionFields">
                        <td style="width: 30% !important;" ng-show="field.Type__c!='textarea'">{{field.Name}}</td>
                        <td ng-show="field.Type__c!='textarea'"><input type="{{field.Type__c}}" ng-show="field.Type__c=='text' || field.Type__c=='number'" data-ng-model="field.fieldvalue" ng-keyup="checkValues()" ng-blur="checkValues()">

                 
                  <select ng-show="field.Type__c=='select'"  class="selectpicker" data-ng-model="field.fieldvalue" ng-change="checkValues()" >
                    <option value="">Select</option>
                    <option ng-repeat="pickVal in field.pickListValues" value="{{pickVal}}">{{pickVal}}</option>
                    
                  </select>
                  <span data-ng-show="field.Type__c=='output'" style="color:#000000; font-weight:bold">{{upload[field.Field_API__c]}} </span>
                        </td>
                        <td colspan="2" ng-show="field.Type__c=='textarea'">{{field.Name}}
                        <br/>
                         <textarea placeholder="Add Cooler description here" ng-show="field.Type__c=='textarea'" data-ng-model="field.fieldvalue" ng-keyup="checkValues()" ng-blur="checkValues()" ></textarea>
                        </td>
                        </tr>
                         <!--tr>
                      <td style="text-align:center;"><button class="button btn-danger" ng-click="cancelAddNew();" >Cancel</button></td>
                      <td style="text-align:center;"><button class="button btn-danger" ng-click="saveNew();" >Add</button></td>
                    </tr-->
                        </tbody>
                        
                        </table>

                </ion-scroll>
            <div class="bot-but " style="text-align:right;position: relative;">
              <button class="button btn-danger" ng-click="cancelAddNew();" >Cancel</button>
              <button class="button " style="margin-right:40px;min-width: 133px;" ng-click="showLoadingScreen();saveNew();" ng-class="{'btn-disabled': !showAdd,'btn-danger': showAdd}" >Add</button>
            </div>
    </div>
    
  </ion-content>
  
</ion-view>