<ion-view view-title="Add Outlets">
  <ion-content id="addOutlet_content">
    <div class="list list-inset addOutlets" style="background:#ffffff !important; width:50%; margin:0px auto; margin-top:15px; box-shadow: 0px 2px 3px -1px rgba(137,134,129,1) !important;">
      <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" style="border:none !important;" placeholder="Search by Outlet name | Route | Area" ng-model="searchAccount" style="border:none !important;">
      </label>
    </div>
    <span class="outletCount" ng-class="{addOpacity: selectedAccountsDisplay.length>0, removeOpacity: selectedAccountsDisplay.length==0}">{{selectedAccountsDisplay.length}} Selected</span>
    <div class="col-lg-4 tab-box addOutletBoarders" style="width:91%; margin: 6px 0px 0px 42px !important;min-height: 74%;" >
      <div class="row" style="background-color:#38B6CB !important; min-height: 40px; color:white; box-shadow: none !important;">
        <div class="col col-37 checkBoxStyle_1" style="border-bottom: none !important;" >
          <!-- <div class="checkBoxStyle"></div> -->
          <span style="padding-left: 79px; position: absolute; left: 0px; z-index: 99; height: 30px;padding-top: 3px; width: 307px;text-align: left;" >Outlet Name</span>
        </div>
        <div class="col col-15" style="padding-top: 8px;border-bottom: none !important;">Shop Code</div>
        <div class="col col-24" style="padding-top: 8px; border-bottom: none !important;">Route</div>
        <div class="col col-24" style="padding-top: 8px;border-bottom: none !important; flex: 0 0 25%; max-width: 25%">Area</div>
      </div>
      <ion-scroll direction="y" zoom="false" style="background-color: #e2e2e2;">

      <div class="row stackSalesClass" ng-class="{rowselected:selectedAccountIds[account.Id]}" style="background-color: #FFF;" collection-repeat="account in AccountList | filter:searchAccount"  >
          <div class="col col-37 checkBoxStyle_2" ng-class="{checkBoxStyle_clicked:selectedAccountIds[account.Id]}">
            <div style="float: left; position: relative; width: 15%;" ng-click="justSelect(account.Id)" >
              <ion-checkbox ng-model="selectedAccountIds[account.Id]" ng-checked="selectedAccountIds[account.Id]" style="outline:none; border:none; background:none; margin-left: -21px;"></ion-checkbox>
            </div>
            <div ng-click="selectRow(account.Id)" style="float: left; position: relative; width: 80%; text-align: left !important;padding-top: 3px;">
              <p style="margin-bottom: 0px;">{{account.Name}}</p>
            </div>
          </div>
          <div class="col col-15" ng-click="selectRow(account.Id)" style="padding-top: 9px;">{{account.Outlet_ID__c }}</div>
          <div class="col col-24" ng-click="selectRow(account.Id)"  style="text-align: left !important;padding-top: 9px;">{{routeNames[account.Id] }}</div>
          <div class="col col-24" ng-click="selectRow(account.Id)"  style="text-align: left !important;padding-top: 9px;flex: 0 0 25%; max-width: 25%">{{account.Area_Outlet_Location__c }}</div>
        </div>
   
      </ion-scroll>
    </div>
   
    <div class="bot-but bar-stable" >
      <button class="button btn-danger" ng-click="CancelAddRoutes();">Cancel</button>
      <button class="button" style="margin-right:60px;min-width: 133px;" ng-click="AddRoutes();" ng-class="{'btn-disabled': !isSelected,'btn-danger': isSelected}" >Add</button>
    </div>
  </ion-content>
</ion-view>