<ion-view view-title="Chatter">
  <ion-content class="mypane">
    <div class="col-md-12 second-mid-head">
            <h2>Chatter</h2>
            <div class="brows-con">
            
            <div class="right-data" style="width:100%;">
            	
                <p>Under Construction</p>
                
                
                </div>
                
            </div>
            </div>
  </ion-content>
</ion-view>
