

<ion-view view-title="{{outlet[0].Name}}">
<style type="text/css">
  .transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
</style>
  <ion-content id="addFeedback_content">    
    <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:56px; background: #E2E2E2;  z-index:9;">
      <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
      <div class="mask_1" ng-show="key==0"></div>
        <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
        <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
        <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
      </div>
    </div>    
          
          
      <div style="width:95%; margin:0 auto;">
        <div class="cooler-left-part cooler-page" style="margin-left: 20px !important;">
          <div class="col-lg-4 tab-box" style="width:100%; margin: 5px 0px 0px 12px !important;" >
            <span class="blockHeading">Feedback</span>
            <ion-scroll direction="y" style="box-shadow: none !important; height: 70% !important;" zooming="false" class="cooler-scroll common-scroll">
            <table class="table no-border" cellpadding="0" cellspacing="0">
              <tbody>
                <tr ng-repeat="field in Fields| orderBy : 'Order__c'" ng-if="!isFieldVisible(field.Dependent_Value__c,visitSummary[field.Dependent_Field__c])">
                  <td ng-show="field.Type__c!='title'" style="width: 32% !important;">{{field.Name}}</td>
                  <td ng-show="field.Type__c!='title'">
                    <input type="{{field.Type__c}}" ng-model="visitSummary[field.Field_API__c]" ng-if="field.Type__c!='title'&& field.Type__c=='text' || field.Type__c=='number' ||field.Type__c=='date'" ng-change="dateValidation(field.Field_API__c)">
                    <textarea name="textarea" style="width: 94% !important; height: 35 !important;background-color: #e2e2e2;border: none !important;border-bottom: 1px solid #000 !important;" data-ng-model="visitSummary[field.Field_API__c]" ng-if="field.Type__c!='title'&& field.Type__c=='textarea'" ></textarea>
                    <select class="selectpicker" style="width: 67%;background-color: #e2e2e2;border-radius: 0px !important;border: none !important;" ng-model="visitSummary[field.Field_API__c]"  ng-options="pickVal for pickVal in field.pickListValues" ng-if="field.Type__c!='title'&& field.Type__c=='select'" ng-change ="clearSubCategory(field.Field_API__c); checkValues();" >
                      <option value="">{{ field.Name | cut:true:17:' ...' }}</option>
                    </select>
                    <div class="radio" ng-repeat="radioValue in field.pickListValues" ng-if="field.Type__c!='title'&& field.Type__c=='radio'" style="width:40%; float:left;margin-top: 0px !important; margin-bottom: 0px !important;">
                        <label>
                            <input type="radio" name="radio{{field.Field_API__c}}"  ng-model="visitSummary[field.Field_API__c]" ng-value="radioValue" style="width: 30px !important; outline: none;" ng-class="{radioButton_Active:visitSummary[field.Field_API__c]==radioValue}" ng-change="clearSubCategory(field.Field_API__c);checkValues();" />
                            <span style="line-height: 35px; padding-left: 10px;">{{radioValue}}</span>
                        </label>
                    </div>
                    <ion-radio ng-repeat="radioValue in field.pickListValues" ng-value="radioValue"   ng-model="visitSummary[field.Field_API__c]" name="ionradio{{field.Field_API__c}}" ng-if="field.Type__c!='title'&& field.Type__c=='ion-radio'" style="width:45%; float:left;" ng-change="checkValues();" >{{radioValue}}</ion-radio>
                    <!-- <div ng-if="{{field.Type__c!='title'&& field.Type__c=='output'}}" style="width: 22%; background-color: #e2e2e2; border-bottom: 1px solid; text-align: center;" ng-class="{descriptionBox:field.Field_API__c=='Activity_Description__c'}">
                      <span style="width:90%" >{{visitSummary[field.Field_API__c]!=undefined && visitSummary[field.Field_API__c]!='' ? visitSummary[field.Field_API__c] :'-'}}</span>
                      <div style="width: 1px; height: 5px; background-color: #000; position: absolute;left: 327px;"></div>
                      <div style="width: 1px; height: 5px; background-color: #000; position: relative;"></div>
                    </div> -->
                  </td>
                </tr>
              </tbody>
            </table>            
              
            </ion-scroll>
          </div>
        </div>                  
        <div class="cooler-right-part"> 
          <div class="current-img-div">
            <!-- <h2 style="text-transform: none;">Capture Image</h2>   -->          
            <div class="image-current" style="max-height: 30%;overflow: auto;">            
                <img src="./img/AddFeedback_Capture.png" my-touchstart="takePicture();" >                  
            </div>
          </div>
          <div class="current-img-div">
            <h2 style="text-transform: none;">Current Visit</h2>
            <div class="image-capture curretnVisit_block" style="max-height: 31%;overflow: auto;height: 30.5%;">
             <img ng-repeat="image in visitSummaryImages" ng-src="data:image/jpeg;base64,{{image.Body}}" ng-click="goToSlide($index)"/>             
            </div>
          </div>
          <br/>
          
        </div>
        <div class="bot-but " style="text-align:right;">
      <button class="button btn-danger" my-touchstart="showLoadingScreen();cancelVisitSummary();" >Cancel</button>
      <button class="button " style="margin-right:30px;min-width: 133px;" my-touchstart="showLoadingScreen();saveVisitSummary();" ng-class="{'btn-disabled': !showAdd,'btn-danger': showAdd}">Add</button>
    </div>          
      </div>
        <script id="image-modal.html" type="text/ng-template">
              <img src="./left.png" style="position:fixed; top:40%; z-index: 999999;left: 20px; height:12%;" ng-click="currentVisitPrevSlide()" ng-show="slideCurrentImageIndex!=0 && visitSummaryImages.length>1"/>
                <img src="./right.png" style="position:fixed;top:40%; z-index: 999999; right: 20px; height: 12%;" ng-click="currentVisitNextSlide()" ng-hide="(slideCurrentImageIndex+1)==visitSummaryImages.length  || visitSummaryImages.length<1"/> 
              <div class="modal image-modal transparent" ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
                  <ion-slide ng-repeat="image in visitSummaryImages">
                    <img ng-src="data:image/jpeg;base64,{{image.Body}}" class="fullscreen-image" />                   
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>      
  </ion-content>
   <!-- <div class="bot-but " style="position:relative; top:517; text-align:right;">
      <button class="button btn-danger" my-touchstart="showLoadingScreen();cancelVisitSummary();" >Cancel</button>
      <button class="button btn-danger" style="margin-right:40px;min-width: 133px;" my-touchstart="showLoadingScreen();saveVisitSummary();">Add</button>
    </div> -->
</ion-view>