<ion-view view-title="{{currentCustomer[0].Name}}" >
  <ion-content id="overview_content">
    <style>
      .box-mid {
      min-height: 200px;
      border-radius: 0px 0px 5px 5px;
      }
      .ani-number {
      margin: 10px 0 10px 0px;
      }
      .box-mid .btn-group {
      /*margin: 11px 0 0 11px;*/
      margin: 5% 0 0 8% !important;
      }
      .round {
      /*border-radius: 50%;*/
      overflow: hidden;
      width: 150px;
      height: 150px;
      }
      .round img {
      display: block;
      /* Stretch 
      height: 100%;
      width: 100%; */
      min-width: 100%;
      min-height: 100%;
      }
      .overview-div{
      width: 47% !important;
      height: 200px;
      }
      .overview-div h1{
      background: transparent !important;
      color: #000000 !important;
      }
       
    </style>
    <!-- Start Services Section -->
    <section >
      <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:55px;margin: 0px 4px;width: 100%;">
        <div class="BreadtopBar" ng-repeat="(key, breadItem) in breadList">
          <div class="mask_1" ng-if="key==0"></div>
          <div class="mask_2" ng-if="key==breadList.length-1"></div>
          <div class="Breadcircle" ng-class="{Breadactive : 'Depot Summary '==breadItem.name}"></div>
          <span ng-class="{BreadactiveFont : 'Depot Summary '==breadItem.name}">{{breadItem.name}}</span>
        </div>
      </div> 
      <div >
      <div class="col-lg-12 middle-bottom-box services" style="margin: 15px 0 0 12px">
        <div class="col-lg-6 box-mid overview-div box" style="width: 37% !important;">
          <div style="float:left; position:relative; width:48%;">
            <img ng-src="{{AccountImage}}" ng-click="takePicture('{{currentCustomer[0].Id}}');" style="height:200px; float:left; z-index:999999; border-radius: 0px 0px 0px 5px;" />
          </div>
          <div class="right-con" style="height:100%; margin:0px; width:52%;" >         
            <p style="color:#000000; height:30px; margin-top: 18px; margin-left: 5px; font-weight:bold;">{{currentCustomer[0][fields[0][0].Field_API__c]}}</p>
            <div class="bottom-con" style="margin-top: -5px !important;">
              <span style="margin-left: 5px !important; padding-bottom: 5px; font-size: 16px;">{{currentCustomer[0][fields[1][0].Field_API__c]}}</span>
              <br />

              <span style="margin-left: 5px !important; padding-bottom: 5px; font-size: 16px; color: #f39c48 !important;">{{currentCustomer[0].RecordType.Name}}</span>
              
              <br />
              <span style="margin-left: 5px !important; padding-bottom: 5px; font-size: 16px;">{{currentCustomer[0][fields[3][0].Field_API__c]}}</span>
              <p style="font-size:22px; font-weight:bold; margin-top:-9px !important;">{{currentCustomer[0][fields[4][0].Field_API__c]}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 box-mid overview-div box" style="width: 57% !important;">
          <div style="float:left; position:relative; width:50%" class="overViewClass">
            <h1>Volume</h1>
            <div class="ani-number forBold">
              <button type="button" class="btn btn-default" style="background:#cccccc; margin-left: 7px !important;" ng-repeat="mon in lastThreeMonth">{{mon.Month}} </button>
            </div>
            <div class="ani-number forBorders">
              <button type="button" class="btn btn-default"  style="margin-left: 7px !important; border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;" ng-repeat="mon in lastThreeMonth"><div class="borderBottom_left"></div><div class="borderBottom_right"></div>{{newIndustryMonthAndCategoryWiseSales[mon.Month].Overall}}</button> 
            </div>
            <div class="btn-group" style="margin-top: 10px !important;">
              <button class="btn btn-default" style="text-transform:none; font-weight: bold !important;">MTD: {{avgSales}}</button>
              <!-- <button class="btn btn-default" style="text-transform:none; clear:left; font-weight: bold !important" >Current month sales: {{currentMonthSales}}</button> -->
              <!-- <button class="btn btn-default" style="text-transform:none; clear:left; font-weight: bold !important" ng-if="processFlow.Smile_Market__c">Current month sales: {{currentMonthSales}}</button> -->
            </div>
          </div>
          <div style="float:left; position:relative; width:50%" class="overViewClass">
            <h1 ng-if="!processFlow.Smile_Market__c">Market Share</h1>
            <h1 ng-if="processFlow.Smile_Market__c">Y-o-Y Growth</h1>
            <div class="ani-number forBold">
              <button type="button" class="btn btn-default" style="background:#cccccc;">Overall</button>
              <button type="button" class="btn btn-default" style="background:#cccccc;">Mild</button>
              <button type="button" class="btn btn-default" style="background:#cccccc;">Strong</button> 
            </div>
            <div class="ani-number forBorders">
              <button type="button" class="btn btn-default" style="border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;"><div class="borderBottom_left"></div><div class="borderBottom_right_indi"></div>{{CategoryWiseMs.Overall}}%</button>
              <button type="button" class="btn btn-default" style="border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;"><div class="borderBottom_left"></div><div class="borderBottom_right_indi"></div>{{CategoryWiseMs.Mild}}%</button>
              <button type="button" class="btn btn-default" style="border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;"><div class="borderBottom_left"></div><div class="borderBottom_right_indi"></div>{{CategoryWiseMs.Strong}}%</button>                
            </div>            
          </div>
        </div>     


        <div class="col-lg-4 tab-box lastVisitCall" >
          <span style="background-color: #38b6cb !important;">Last visit summary</span>
          <!--  <span>Call Summary {{lastVisitRecord.Check_In_DateTime__c | date:"dd/MM/yyyy hh:mm a"}}</span> -->
          <!-- <ion-scroll class="second_ion_scroll" direction="y"> -->
            <p ng-hide="(lastVisitRecord.Visit_Summary__c!=undefined && lastVisitRecord.Visit_Summary__c!='')" style="min-height: 20%;
max-height: 20%;">Depot Call summary goes here. This summary depicts descriptions for last visit.</p> 
            <p ng-show="lastVisitRecord.Visit_Summary__c!=undefined && lastVisitRecord.Visit_Summary__c!=''" style="color:#000000; min-height: 20%;
max-height: 20%;">{{lastVisitRecord.Visit_Summary__c}}</p>             
            
             
          <!-- </ion-scroll> -->
        </div>
        
        </div>
      </div>
    </section>
    <!-- END Services Section -->
  </ion-content>
  <div class="bot-but bar-stable" style="z-index:999999; position:fixed; bottom:10px; text-align:right;">
          <button class="button btn-danger" style="margin-right:40px;"  my-touchstart="showLoadingScreen();depotCheckIn();" ng-class="{'btn-disabled': pendingTask || day!='today','btn-danger': !pendingTask && day=='today'}">Start Call</button>
        
          </div>
</ion-view>