<ion-view view-title="{{outlet[0].Name}}">
    <ion-content id="containerForTemaplate5_content" class="editFeedback_content depotContainerForTemaplate2">
        <style type="text/css">
            #containerForTemaplate5_content .slider-pager{
            top: 92%;
            }
            #containerForTemaplate5_content .slider{
            height: 88%;
            }
            .transparent {
            background: transparent !important;
            }
            .image-modal {
            width: 100% !important;
            height: 100%;
            top: 0 !important;
            left: 0 !important;
            }
            .fullscreen-image {
            max-width: 100%;
            max-height: 100%;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: auto;
            position: fixed;
            right: 0;
            top: 0;
            }
            .slider {
            width: 100%;
            height: 100%;
            }
            p.info {
            position: absolute;
            bottom: 10px;
            margin: 0 auto;
            width: 100%;
            display: block;
            text-align: center;
            font-size: 28px;
            color: #ffffff;
            }
            /* Fix modal backdrop for smaller devices */
            @media (max-width: 679px) {
            .active .modal-backdrop-bg {
            opacity: .5;
            }
            .modal-backdrop-bg {
            -webkit-transition: opacity 300ms ease-in-out;
            transition: opacity 300ms ease-in-out;
            background-color: #000;
            opacity: 0;
            }
            }
        </style>
        <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:56px; background: #E2E2E2;  z-index:9;">
            <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
                <div class="mask_1" ng-if="key==0"></div>
                <div class="mask_2" ng-if="key==processFlowLineItems.length-1"></div>
                <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
                <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
            </div>
        </div>
        
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" ng-if="companyList.length>0" >
            <ion-slide ng-repeat="(key,company) in companyList" >
                <img src="./left.png" style="position:absolute; left:18px; top:40%; z-index: 999999;height: 8.6%;" my-touchstart="prevSlide()" ng-if="$index!=0 && companyList.length>1"/>    
                <img src="./right.png" style="position:absolute; right:18px; top:40%; z-index: 999999;height: 8.6%;" my-touchstart="nextSlide()" ng-if="($index+1)!=companyList.length  && companyList.length>1" /> 
                <div style="width:95%; margin:0 auto;">
                    <div class="cooler-left-part cooler-page" style="margin-left: 20px !important;width: 94% !important">
                        <div class="col-lg-4 tab-box" style="width: 70%; margin: 0 auto !important;float: none;" >
                            <span style="text-align:left;padding: 6px 50px;">{{company}} </span>
                            <div class="row stackPageHeading" style="min-height: 40px; color:white; box-shadow: none !important; border-radius: 0px 0px 0px 0px; ">
                                <div class="col col-36" style="background:#1E4072 !important;" my-touchstart="gotoProductOrder(company);"><a href="#" style="text-decoration:none;color:white;float: left;"><img src="./img/beer.png" style="height:25px;margin-left: 15px !important;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Products</a></div>
                                <div class="col col-20 ">Daily Sales</div>
                                <div class="col col-20">Closing Stock</div>
                            </div>
                            <ion-scroll direction="y" delegate-handle="small-{{order}}{{key}}" style="box-shadow: none !important;max-height:67% !important;background: #e2e2e2 !important;" zooming="false" class="cooler-scroll">
                              
                                <!-- <table class="table no-border" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr ng-repeat="SKUMaster in skuList[company]">
                                            <td>{{SKUMaster.Sku_Code__c}}</td>
                                            <td><input type="number" ng-model="uploadfields[order][SKUMaster.Id]['Total_Stock__c']" ng-keyup="restrictKeyup(SKUMaster.Id,'Total_Stock__c',uploadfields[order][SKUMaster.Id]['Total_Stock__c'])" /></td>
                                            <td><input type="number" ng-model= "uploadfields[order][SKUMaster.Id]['Sales__c']"  ng-keyup="restrictKeyup(SKUMaster.Id,'Sales__c',uploadfields[order][SKUMaster.Id]['Sales__c'])" /></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                                <div class="row rowComplaintsClass" ng-repeat="SKUMaster in skuList[company]">
                                    <div class="col col-36" style="text-align: left !important; padding-left: 10px !important;">{{SKUMaster.Sku_Code__c}}</div>
                                    <div class="col col-20"><input type="number" ng-model= "uploadfields[order][SKUMaster.Id]['Sales__c']"  ng-keyup="restrictKeyup(SKUMaster.Id,'Sales__c',uploadfields[order][SKUMaster.Id]['Sales__c'])" /></div>
                                    <div class="col col-20"><input type="number" ng-model="uploadfields[order][SKUMaster.Id]['Total_Stock__c']" ng-keyup="restrictKeyup(SKUMaster.Id,'Total_Stock__c',uploadfields[order][SKUMaster.Id]['Total_Stock__c'])" ng-focus="focusCheckForStock($index, $event);" ng-keydown="restrictKeydown($event, $index, company)" /></div>
                                </div>
                                
                            </ion-scroll>
                        </div>
                    </div>                    
                </div>
                 <br/>
                        <div style="width: 94%;z-index:999999;text-align: right;">
                            <button class="button btn-danger" ng-if="($index+1)==companyList.length " my-touchstart="showLoadingScreen();goToNext();" style="margin-top:13px; z-index:999999; ">Next</button><!-- end ngIf: ($index+1)==companyList.length -->
                        </div>
            </ion-slide>
        </ion-slide-box>
        
    </ion-content>
    
</ion-view>