<ion-view view-title="{{outlet[0].Name}}">
  <ion-content id="containerForTemplate_content">     
    <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:56px; background: #E2E2E2; z-index:9;">
      <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
      <div class="mask_1" ng-show="key==0"></div>
        <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
        <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
        <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
      </div>
    </div>
      <div class="col-md-12 second-mid-head addComplaintbutton" ng-if="currentPage.pageDescription.Add_New__c"><button class="button btn-danger" my-touchstart="showLoadingScreen();addNewVisitSummary();" ><img src="img/plus-icon.png" style="width: 20px !important;float: left !important;margin: 3px 10px 0 0 !important;" alt="" /> {{currentPage.pageDescription.Add_New_Label__c}}</button></div>    
    <div class="col-lg-4 tab-box addOutletBoarders" ng-if="visitSummaries.length>0">
          <div class="row rowHeader">         
            <div class="col col-10">Sr#</div>
            <div class="col col-15" ng-repeat="field in listViewFields">{{field.Name}}</div>            
          </div>
        <ion-scroll direction="y" zoom="false" class="lastComplaints lastComplaints_feedback_depot" onScroll="changeButton('315', event)">
          <div class="row rowComplaintsClass" ng-repeat="visitSummary in visitSummaries|orderBy:['Status__c','-Date__c']" ng-class="{rowselected:visitSummary.clicked, rowHighlightOnResponse: (visitSummary['F_Supervisor_Response__c']!='' &&  visitSummary['F_Supervisor_Response__c']!= '-' && visitSummary['F_Supervisor_Response__c'] != undefined && visitSummary['Status__c']!='Resolved')}" ng-click="visitSummary.clicked = true;showLoadingScreen();viewVisitSummary($index,'{{visitSummary.External_Id__c}}');">
            <div class="col col-10">{{$index+1}}</div>
            <div class="col col-15" ng-repeat="field in listViewFields"><p ng-if="field.Field_API__c!='Date__c'">{{visitSummary[field.Field_API__c]}}</p><p ng-if="field.Field_API__c=='Date__c'">{{visitSummary[field.Field_API__c]|date: 'dd MMM yyyy'}}</p></div>
          </div>          
        </ion-scroll>
     </div>     
  </ion-content>
  <div class="col-lg-4 tab-box" style="margin: 0 auto;margin-top: 220px;" ng-if="visitSummaries.length == 0">
    <div style="padding: 5px;  padding-top: 20px;   min-height: 70px; text-align:center; box-shadow: none !important;float: none;  margin: 0 auto;  width: 68%; color: grey;  padding-bottom: 10px;"> 
      This outlet does not have any {{breadActive | lowercase}}. Tap Next to continue the call or tap +{{currentPage.pageDescription.Add_New_Label__c}} to add a new {{breadActive | lowercase}}.
      <br/>
      <br/>    
    </div>
  </div>
  <div class="bot-but bar-stable" style="z-index:999999; position:fixed; bottom:10px; text-align:right;">
    <button class="button btn-danger feedbackNext" ng-class="{'btn-disabled':scrollHeight>=315}" style="margin-right:58px;" my-touchstart="showLoadingScreen();goToNext();" >Next</button>
  </div>
</ion-view>