<ion-view view-title="{{outlet[0].Name}}">
    <ion-content id="containerForTemaplate5_content" class="editFeedback_content depotContainerForTemaplate3">
        <style type="text/css">
            #containerForTemaplate5_content .slider-pager{
            top: 440px;
            }
            #containerForTemaplate5_content .slider{
            height: 88%;
            }
            .transparent {
            background: transparent !important;
            }
            .image-modal {
            width: 100% !important;
            height: 100%;
            top: 0 !important;
            left: 0 !important;
            }
            .fullscreen-image {
            max-width: 100%;
            max-height: 100%;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: auto;
            position: fixed;
            right: 0;
            top: 0;
            }
            .slider {
            width: 100%;
            height: 100%;
            }
            p.info {
            position: absolute;
            bottom: 10px;
            margin: 0 auto;
            width: 100%;
            display: block;
            text-align: center;
            font-size: 28px;
            color: #ffffff;
            }
            /* Fix modal backdrop for smaller devices */
            @media (max-width: 679px) {
            .active .modal-backdrop-bg {
            opacity: .5;
            }
            .modal-backdrop-bg {
            -webkit-transition: opacity 300ms ease-in-out;
            transition: opacity 300ms ease-in-out;
            background-color: #000;
            opacity: 0;
            }
            }
        </style>
        <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:56px; background: #E2E2E2;  z-index:9;">
            <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
                <div class="mask_1" ng-if="key==0"></div>
                <div class="mask_2" ng-if="key==processFlowLineItems.length-1"></div>
                <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
                <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
            </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" >
            <ion-slide >
                  
                <img src="./right.png" style="position:absolute; right:18px; top:40%; z-index: 999999;height: 8.6%;" my-touchstart="nextSlide()" /> 
                <div style="width:85%; margin:0 auto;">
                    <div class="marketShare_class" style="text-align: center;">
                      <div class="row market_row" style="min-height: 40px; color:white; box-shadow: none !important;margin-top: 25px;margin-left: 20px !important;">
                         <div class="col col-24_8" style="background-color: #e2e2e2 !important;">
                         <div class="row" style="background-color: #38B6CB !important;height: 71px;">
                               <div class="col" style="padding-top: 26px;">Segment</div>
                            </div>
                         </div>
                         <div class="col col-40" style="background-color: #e2e2e2 !important; padding-left: 1px; margin-left: -2px;">
                            <div class="row" style="background-color: #e2e2e2 !important; height: 40px;width: 100.3%;">
                               <div class="col" style="background-color: #38B6CB !important;">Review</div>
                            </div>
                            <div class="row forMonth_divide" style="background-color: #e2e2e2 !important;">
                               <div class="col borderSep" style="background-color: #38B6CB !important;">MTD</div>
                               <div class="col borderSep" style="background-color: #38B6CB !important;">Today</div>
                               <div class="col borderSep" style="background-color: #38B6CB !important;">Prev day</div>
                            </div>
                         </div>
                         <div class="col col-40" style="background-color: #e2e2e2 !important; padding-left: 1px; margin-left: -2px;">
                            <div class="row" style="background-color: #e2e2e2 !important; height: 40px;width: 100.3%;">
                               <div class="col" style="background-color: #38B6CB !important;">Market Share</div>
                            </div>
                            <div class="row forMonth_divide" style="background-color: #e2e2e2 !important;">
                               <div class="col borderSep" style="background-color: #38B6CB !important;">MTD</div>
                               <div class="col borderSep" style="background-color: #38B6CB !important;">Today</div>
                               <div class="col borderSep" style="background-color: #38B6CB !important;">Prev day</div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                   <ion-scroll class="first_scroll" direction="y" zoom="false" height="300px">
                    <div class="blockContainer_1">
                        <div class="row" style="flex: 0 0 4%;background-color: #38B6CB !important;height: 38px;float: left;clear: left; width: 124px;-webkit-transform: rotateZ(270deg);margin-left: -43px !important;margin-top: 36px;position: fixed;z-index: 999999;overflow: hidden;line-height: 15px;">
                              <div class="col" style="border: none !important;min-height: 110px;background-color: #38B6CB !important; font-size: 18px; color: #ffffff;">IND</div>                      
                        </div>
                        <div class="row marketShare_body" style="background-color:#e2e2e2;margin-bottom: 5px;width: 95.7%;float: left; margin-left: 38px !important;">
                            <div class="col col-24_8" style="max-width: 24.5%;text-align: left !important;">Mild</div>
                            <div class="col" >{{skuList['Mild']['MTD']}}</div>
                            <div class="col" >{{skuList['Mild']['Today']}}</div>
                            <div class="col" >{{skuList['Mild']['Pre_day']}}</div>                       
                            <div class="col" >-</div>                        
                            <div class="col" >-</div>                        
                            <div class="col" >-</div>                        
                        </div>
                        <div class="row marketShare_body" style="background-color:#e2e2e2;margin-bottom: 5px;width: 95.7%;float: left; margin-left: 38px !important;">
                            <div class="col col-24_8" style="max-width: 24.5%;text-align: left !important;">Strong</div>
                            <div class="col" >{{skuList['Strong']['MTD']}}</div>
                            <div class="col" >{{skuList['Strong']['Today']}}</div>
                            <div class="col" >{{skuList['Strong']['Pre_day']}}</div>                         
                            <div class="col" >-</div>                        
                            <div class="col" >-</div>                        
                            <div class="col" >-</div>                         
                        </div>
                        <div class="row marketShare_body total_class" style="background-color:#e2e2e2;margin-bottom: 5px;width: 95.7%;float: left; margin-left: 38px !important;">
                            <div class="col col-24_8" style="max-width: 24.5%;text-align: center !important;">Total</div>
                            <div class="col" >{{skuList['Total']['MTD']}}</div>
                            <div class="col" >{{skuList['Total']['Today']}}</div>
                            <div class="col" >{{skuList['Total']['Pre_day']}}</div>                        
                            <div class="col" >-</div>                        
                            <div class="col" >-</div>                        
                            <div class="col" >-</div>                          
                        </div>
                    </div>
                    <div class="blockContainer_1" ng-repeat="(brand,skus) in companyList">
                        <div class="row" style="flex: 0 0 4%;background-color: #1e4072 !important;height: 38px;float: left;clear: left; width: 124px;-webkit-transform: rotateZ(270deg);margin-left: -43px !important;margin-top: 36px;position: fixed;z-index: 999999;overflow: hidden;line-height: 15px;" ng-click="showLoadingScreen();goToSKU(skus);">
                              <div class="col" style="border: none !important;min-height: 110px;background-color: #1e4072 !important; font-size: 18px; color: #ffffff;">{{skus}}</div>                      
                        </div>
                        <div class="row marketShare_body" style="background-color:#e2e2e2;margin-bottom: 5px;width: 95.7%;float: left; margin-left: 38px !important;">
                            <div class="col col-24_8" style="max-width: 24.5%;text-align: left !important;">Mild</div>
                            <div class="col" >{{skuList[skus]['Mild']['MTD']}}</div>
                            <div class="col" >{{skuList[skus]['Mild']['Today']}}</div>
                            <div class="col" >{{skuList[skus]['Mild']['Pre_day']}}</div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Mild']['MTD']) && isNumber(skuList['Mild']['MTD'])">{{parseInt((skuList[skus]['Mild']['MTD'])/(skuList['Mild']['MTD'])*100)}}%</span></div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Mild']['Today']) && isNumber(skuList['Mild']['Today'])">{{parseInt((skuList[skus]['Mild']['Today'])/(skuList['Mild']['Today'])*100)}}%</span></div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Mild']['Pre_day']) && isNumber(skuList['Mild']['Pre_day'])">{{parseInt((skuList[skus]['Mild']['Pre_day'])/(skuList['Mild']['Pre_day'])*100)}}%</span></div>                        
                        </div>
                        <div class="row marketShare_body" style="background-color:#e2e2e2;margin-bottom: 5px;width: 95.7%;float: left; margin-left: 38px !important;">
                            <div class="col col-24_8" style="max-width: 24.5%;text-align: left !important;">Strong</div>
                            <div class="col" >{{skuList[skus]['Strong']['MTD']}}</div>
                            <div class="col" >{{skuList[skus]['Strong']['Today']}}</div>
                            <div class="col" >{{skuList[skus]['Strong']['Pre_day']}}</div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Strong']['MTD']) && isNumber(skuList['Strong']['MTD'])">{{parseInt((skuList[skus]['Strong']['MTD'])/(skuList['Strong']['MTD'])*100)}}%</span></div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Strong']['Today']) && isNumber(skuList['Strong']['Today'])">{{parseInt((skuList[skus]['Strong']['Today'])/(skuList['Strong']['Today'])*100)}}%</span></div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Strong']['Pre_day']) && isNumber(skuList['Strong']['Pre_day'])">{{parseInt((skuList[skus]['Strong']['Pre_day'])/(skuList['Strong']['Pre_day'])*100)}}%</span></div>                       
                        </div>
                        <div class="row marketShare_body total_class" style="background-color:#e2e2e2;margin-bottom: 5px;width: 95.7%;float: left; margin-left: 38px !important;">
                            <div class="col col-24_8" style="max-width: 24.5%;text-align: center !important;">Total</div>
                            <div class="col" >{{skuList[skus]['Total']['MTD']}}</div>
                            <div class="col" >{{skuList[skus]['Total']['Today']}}</div>
                            <div class="col" >{{skuList[skus]['Total']['Pre_day']}}</div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Total']['MTD']) && isNumber(skuList['Total']['MTD'])">{{parseInt((skuList[skus]['Total']['MTD'])/(skuList['Total']['MTD'])*100)}}%</span></div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Total']['Today']) && isNumber(skuList['Total']['Today'])">{{parseInt((skuList[skus]['Total']['Today'])/(skuList['Total']['Today'])*100)}}%</span></div>
                            <div class="col" ><span ng-if="isNumber(skuList[skus]['Total']['Pre_day']) && isNumber(skuList['Total']['Pre_day'])">{{parseInt((skuList[skus]['Total']['Pre_day'])/(skuList['Total']['Pre_day'])*100)}}%</span></div>                         
                        </div>
                    </div>



               </ion-scroll>  
                    
                </div>
            </ion-slide>
            <ion-slide >
                <img src="./left.png" style="position:absolute; left:18px; top:40%; z-index: 999999;height: 8.6%;" my-touchstart="prevSlide()" />    
                
                <div style="width:85%; margin:0 auto;">
                    <div class="marketShare_class" style="text-align: center;">                    
                      <div class="row market_row" style="min-height: 40px; color:white; box-shadow: none !important;margin-top: 25px; margin-left: 27px !important; width: 96.7%;">
                         <div class="col col-24_8" style="background-color: #e2e2e2 !important;">
                         <div class="row" style="background-color: #38B6CB !important;height: 71px;">
                               <div class="col" style="padding-top: 26px;">Products</div>
                            </div>
                         </div>
                         <div class="col col-40" style="background-color: #e2e2e2 !important; padding-left: 1px; margin-left: -2px;">
                            <div class="row" style="background-color: #e2e2e2 !important; height: 40px;width: 100.3%;">
                               <div class="col" style="background-color: #38B6CB !important;">Volume</div>
                            </div>
                            <div class="row forMonth_divide" style="background-color: #e2e2e2 !important;">
                               <div class="col borderSep" style="background-color: #38B6CB !important;">MTD</div>
                               <div class="col borderSep" style="background-color: #38B6CB !important;">Today</div>
                            </div>
                         </div>
                         <div class="col col-40" style="background-color: #e2e2e2 !important; padding-left: 1px; margin-left: -2px;">
                            <div class="row" style="background-color: #e2e2e2 !important; height: 40px;width: 100.3%;">
                               <div class="col" style="background-color: #38B6CB !important;">Market Share</div>
                            </div>
                            <div class="row forMonth_divide" style="background-color: #e2e2e2 !important;">
                               <div class="col borderSep" style="background-color: #38B6CB !important;">MTD</div>
                               <div class="col borderSep" style="background-color: #38B6CB !important;">Today</div>
                            </div>
                         </div>
                      </div>
                      </div>
                   </div>
                </div>
                   <ion-scroll direction="y" zoom="false" height="300px" class="second_scroll">
                        <div ng-repeat="(brand,skus) in companyList" class="blockContainer_2">
                            <div class="row" style="flex: 0 0 4%;background-color: #1e4072 !important;max-width: 5.1%;float: left;clear: left; height:{{(skuList[skus].length*41)-3}}px; border-bottom:3px solid #e2e2e2; min-height: 110px;" ng-click="showLoadingScreen();goToSKU(skus);">
                                  <div class="col" style="border: none !important;background-color: #1e4072 !important; font-size: 20px; color: #ffffff;"><div style="-webkit-transform: rotate(270deg); position: relative;text-overflow: ellipsis;overflow: hidden;top: 24px;word-break: break-word;height: 40px;min-width: 110px;right: 35px;line-height: 20px;text-align:left;">{{skus}}</div></div>                      
                            </div>
                            <div class="row marketShare_body" ng-repeat="sku in skuList[skus]" style="background-color:#e2e2e2;margin-bottom: 5px;width: 92.7%;float: right;margin-right: 18px !important;">
                                <div class="col col-24_8" style="max-width: 24.5%;text-align: left !important;">{{sku.Sku_Code__c}}</div>
                                <div class="col" >{{MTD[sku.Id]}}</div>                        
                                <div class="col" >{{todaySales[sku.Id]}}</div>                        
                                <div class="col" ><span ng-if="isNumber(skuList['Total']['MTD']) && isNumber(MTD[sku.Id])">{{parseInt((MTD[sku.Id])/(skuList[sku.Segment__c]['MTD'])*100)}}%</span></div>                        
                                <div class="col" ><span ng-if="isNumber(skuList['Total']['Today']) && isNumber(todaySales[sku.Id])">{{parseInt((todaySales[sku.Id])/(skuList[sku.Segment__c]['Today'])*100)}}%</span></div>                                               
                            </div>                        
                        </div>       
                   </ion-scroll>  
                   <div class="bot-but bar-stable" style="position:fixed; bottom:10px; text-align:right;z-index:999999;" >
                        <button class="button btn-danger" style="margin-right:40px; z-index:999999;" my-touchstart="showLoadingScreen();goToNext();">Next</button>
                    </div> 
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    
</ion-view>