<ion-view view-title="{{outlet[0].Name}}" id="editFeedback_view"  class="editFeedback_view">
<style type="text/css">
  .transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
</style>
  <ion-content id="editFeedback_content" class="editFeedback_content">    
    <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:56px; background: #E2E2E2;  z-index:9;">
      <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
      <div class="mask_1" ng-show="key==0"></div>
        <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
        <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
        <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
      </div>
    </div>    
          
          
      <div class="cooler-page-parent">
        <div class="cooler-left-part cooler-page">
          <div class="col-lg-4 tab-box">
            <span class="blockHeading">Feedback - {{indexValue}} </span>
            <ion-scroll direction="y" style="box-shadow: none !important;" zooming="false" class="cooler-scroll .common-scroll">
            <table class="table no-border" cellpadding="0" cellspacing="0">
              <tbody>
                <tr ng-repeat="field in Fields| orderBy : 'Order__c'" ng-if="!isFieldVisible(field.Dependent_Value__c,visitSummary[0][field.Dependent_Field__c])">
                  <td ng-if="field.Type__c!='line'" style="width: 32% !important;">{{field.Name}}</td>
                  <td> 
                                                    
                    <div class="radio" ng-repeat="radioValue in field.pickListValues" ng-show="field.Type__c=='radio'">                    
                        <label>
                            <input type="radio" name="radio{{field.Field_API__c}}"  ng-model="visitSummary[0][field.Field_API__c]" ng-value="radioValue" style="width: 30px !important; outline: none;" ng-class="{radioButton_Active: visitSummary[0][field.Field_API__c]==radioValue}"  />
                            <span>{{radioValue}}</span>
                        </label>
                    </div>
                    <div  ng-if="field.Type__c=='text' || field.Type__c=='number' ||field.Type__c=='date'">
                    <input type="{{field.Type__c}}" name="input" ng-model="visitSummary[0][field.Field_API__c]" ng-disabled="field.Field_API__c=='Resolution_Date__c' && visitSummary[0]['Is_it_resolved__c']!='Yes'" ng-change="dateValidation(field.Field_API__c)" ng-class="{disableCss:field.Field_API__c=='Resolution_Date__c' && visitSummary[0]['Is_it_resolved__c']!='Yes'}"/>
                      
                    </div>
                    <div ng-if="field.Type__c=='output'" style="word-break: break-word; width: 97%;">
                      {{visitSummary[0][field.Field_API__c]}}
                    </div> 
                    <div ng-if="field.Type__c=='line'" class="lineForDividing">
                      {{visitSummary[0][field.Field_API__c]}}
                    </div>          
                  </td>
                </tr>
              </tbody>
            </table>            
              
            </ion-scroll>
          </div>
        </div>                  
        <div class="cooler-right-part"> 
          <div class="current-img-div">
            <h2>Current Visit</h2>
            <div class="image-current curretnVisit_block">            
              <img ng-repeat="image in currentvisitSummaryImages" ng-src="data:image/jpeg;base64,{{image.Body}}" ng-click="goToSlideCurrentImageModel($index)" />                      
            </div>            
            <div class="image-current tapTocapture">            
                <img src="./img/feedback-capture.png" my-touchstart="takePicture();" >                  
            </div>
          </div>
          <div class="current-img-div">
            <h2>Last Visit</h2>
            <div class="image-capture curretnVisit_block">
             <img ng-repeat="image in visitSummaryImages" ng-src="data:image/jpeg;base64,{{image.Body}}" ng-click="goToSlide($index)"/>             <!-- onClick="getPopup(event);" -->
            </div>
          </div>
          <br/>
          
        </div>           
      </div>
           <script id="image-modal.html" type="text/ng-template">  
              <img src="./left.png" style="position:fixed; top:40%; z-index: 999999;left: 20px; height:12%;" ng-click="lastVisitPrevSlide()" ng-show="slideLastVisitImageIndex!=0 && visitSummaryImages.length>1"/>
                <img src="./right.png" style="position:fixed;top:40%; z-index: 999999; right: 20px; height: 12%;" ng-click="lastVisitNextSlide()" ng-hide="(slideLastVisitImageIndex+1)==visitSummaryImages.length  || visitSummaryImages.length<1"/>            
              <div class="modal image-modal transparent" ng-click="closeModal()">

                <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" delegate-handle="lastImagesSlider" >
                  <ion-slide ng-repeat="image in visitSummaryImages">
                    <img ng-src="data:image/jpeg;base64,{{image.Body}}" class="fullscreen-image" />                    
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>   
          
            <script id="current-image-modal.html" type="text/ng-template">
                <img src="./left.png" style="position:fixed; top:40%; z-index: 999999;left: 20px; height: 12%;" ng-click="currentVisitPrevSlide()" ng-show="slideCurrentImageIndex!=0 && currentvisitSummaryImages.length>1"/>
                <img src="./right.png" style="position:fixed;top:40%; z-index: 999999; right: 20px; height: 12%;" ng-click="currentVisitNextSlide()" ng-hide="(slideCurrentImageIndex+1)==currentvisitSummaryImages.length  || currentvisitSummaryImages.length<1"/>
              <div class="modal image-modal transparent" ng-click="closeCurrentImageModal()">
                <ion-slide-box on-slide-changed="slideChangedCurrentImageModel(index)" show-pager="true" delegate-handle="currentImagesSlider">
                  <ion-slide ng-repeat="image in currentvisitSummaryImages">
                    <img ng-src="data:image/jpeg;base64,{{image.Body}}" class="fullscreen-image" />                    
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>
  </ion-content>
    <div class="bot-but">
      <button class="button btn-danger" my-touchstart="cancelViewVisitSummary();" ng-if="visitSummary[0]['Status__c'] == 'Open'">Cancel</button>
      <button class="button btn-danger saveButton" my-touchstart="showLoadingScreen();saveEditVisitSummary();" ng-if="visitSummary[0]['Status__c'] == 'Open'">Save</button>
      <button class="button btn-danger backButton" my-touchstart="showLoadingScreen();cancelViewVisitSummary();" ng-if="visitSummary[0]['Status__c'] != 'Open'">Back</button>      
    </div>
</ion-view>