<ion-view view-title='{{mapTitle}}'>

  <ion-content>
  <div ng-show="online">
	   <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
	   		  <ui-gmap-marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak >
                    <p> {{ m.message}}</p>
                    <p class="muted">My marker will stay open when the window is popped up!</p>
            </ui-gmap-window>             
        </ui-gmap-marker>
	   		<!--ui-gmap-polyline path="map.markers" stroke="stroke" visible='visible'></ui-gmap-polyline-->
	   </ui-gmap-google-map>
       </div>
      
        <div class="col-lg-4 tab-box" style="width:50%; margin:50px 200px; "  ng-hide="online">
    <div style="padding:5px; text-align:center; box-shadow: none !important;">Internet connectivity is required for this feature</div>
    </div>
        
  </ion-content>
</ion-view>