<ion-side-menus enable-menu-with-back-views="true">
      <ion-side-menu-content id="menu_content">
          <ion-nav-bar class="bar-stable" >  
          <!--  <ion-nav-back-button>
      </ion-nav-back-button>   --> 
        <ion-nav-back-button class="button-clear" ng-click="myGoBack()">
    <i class="ion-chevron-left"></i> {{backText}}
  </ion-nav-back-button>
                  <!--ion-nav-buttons side="left" ng-show="showLogo">
                   <a href="#" ><img src="./img/bird.png" style="height: 45px; margin-top: -5px;"/></a>
                  </ion-nav-buttons-->  
                  <ion-nav-buttons side="right">
                   <!-- <a href="#" data-ng-click="resumeCall();" style="padding:0 15px;"><i class="fa fa-caret-square-o-right" style="color:#6fb53b !important;" data-ng-show="pendingTask"></i><i class="fa fa-caret-square-o-right" data-ng-hide="pendingTask"></i></a> -->

                    <a href="#" my-touchstart="resumeCall();" style="padding:2 10px;"><img src="img/play-active.png" width="28" height="27" data-ng-show="pendingTask" /><img src="img/play.png" width="28" height="27" data-ng-hide="pendingTask"/></a>

                    <!--button class="button button-icon ion-android-arrow-dropright-circle" ng-click="">        </button-->
                    <span class="alert" my-touchstart="modal.show()" style="z-index:999999;margin-right: 10px;"  style="padding:0 10px;"><p ng-class="{addOpacity: Notifications.length > 0, removeOpacity: Notifications.length == 0}">{{Notifications.length}}</p><a href="#" style="padding-top: 4px;"><i class="fa fa-bell-o"></i></a></span>
                    <span style="padding:6 10px; z-index: 9;"><a href="#" my-touchstart="superSync();"><i class="fa fa-refresh"></i></a></span>
                    <a href="#" onclick="showMenu()" style="padding-top: 6px;"><i class="fa fa-bars" style="padding:0 15px; color:#000000;"></i></a>
                    
                  </ion-nav-buttons>    
          </ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content >
      
      <div class="my-menu" style="display:none;">
        
      <ion-list>
        <ion-item onclick="showMenu();" ng-if="myUserName!=''">
          <img src="img/user.png" width="18" />
          <font style="color:#38b6cb; text-overflow: ellipsis; max-width: 80%;" >{{myUserName}}</font>
        </ion-item>
        <ion-item ng-click="goToHome()" onclick="showMenu();">
          <img src="img/home.png" width="18" />
          <font color="white">Home</font>
        </ion-item>
        <ion-item ng-click="showErrors()" onclick="showMenu();">
          <img src="img/error_img.png" width="18" />
          <font color="white">Error Logs</font>
        </ion-item>
        <!-- <ion-item ng-click="showWebServices()" onclick="showMenu();">
          <img src="img/error_img.png" width="18" />
          <font color="white">Service Logs</font>
        </ion-item>
          <ion-item ng-click="showUserLogs()" onclick="showMenu();">
              <img src="img/error_img.png" width="18" />
              <font color="white">User Logs</font>
          </ion-item>
          <ion-item ng-click="writeLog()" onclick="showMenu();">
              <img src="img/error_img.png" width="18" />
              <font color="white">Write Log</font>
          </ion-item>-->
        <ion-item ng-click="logOut()" onclick="showMenu();">
          <img src="img/logoff.png" width="18" />
          <font color="white">Log off</font>
        </ion-item>
      </ion-list>           
      </div>
</ion-side-menus>
