<ion-view view-title="{{currentCustomer.Name}}" >
  <ion-content id="overview_content" class="overview_content_outlet">
    <style>
      /*.box-mid {
      min-height: 200px;
      border-radius: 0px 0px 5px 5px;
      }*/
      .ani-number {
      margin: 10px 0 10px 0px;
      }
      .box-mid .btn-group {
      /*margin: 11px 0 0 11px;*/
      margin: 5% 0 0 8% !important;
      }
      .round {
      /*border-radius: 50%;*/
      overflow: hidden;
      width: 150px;
      height: 150px;
      }
      .round img {
      display: block;
      /* Stretch 
      height: 100%;
      width: 100%; */
      min-width: 100%;
      min-height: 100%;
      }
      .overview-div{
      width: 47% !important;
      height: 37% !important;
      }
      .overview-div h1{
      background: transparent !important;
      color: #000000 !important;
      }
       
    </style>
    <!-- Start Services Section -->
    <section >
      <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:55px;margin: 0px 4px;width: 100%;">
        <div class="BreadtopBar" ng-repeat="(key, breadItem) in breadList">
          <div class="mask_1" ng-if="key==0"></div>
          <div class="mask_2" ng-if="key==breadList.length-1"></div>
          <div class="Breadcircle" ng-class="{Breadactive : 'Outlet Summary '==breadItem.name}"></div>
          <span ng-class="{BreadactiveFont : 'Outlet Summary '==breadItem.name}">{{breadItem.name}}</span>
        </div>
      </div> 
      <div >
      <div class="col-lg-12 middle-bottom-box services" style="margin: 15px 0 0 12px">
        <div class="col-lg-6 box-mid overview-div box" style="width: 37% !important;">
          <div style="float:left; position:relative; width:48%;">
            <img ng-src="{{AccountImage}}" ng-click="takePicture('{{currentCustomer.Id}}');" style="height:100%; float:left; z-index:999999; border-radius: 0px 0px 0px 5px;" />
          </div>
          <div class="right-con" style="height:100%; margin:0px; width:52%;" >         
            <p style="color:#000000; height:30px; margin-top: 18px; margin-left: 5px; font-weight:bold;">{{currentCustomer[fields[0][0].Field_API__c]}}</p>
            <div class="bottom-con" style="margin-top: -5px !important;">
              <span style="margin-left: 5px !important; padding-bottom: 5px; font-size: 16px;">{{currentCustomer[fields[1][0].Field_API__c]}}</span>
              <br />
              <span style="margin-left: 5px !important; padding-bottom: 5px; font-size: 16px;">{{currentCustomer[fields[2][0].Field_API__c]}}</span>
              <br />
              <span style="margin-left: 5px !important; padding-bottom: 5px; font-size: 16px;">{{currentCustomer[fields[3][0].Field_API__c]}}</span>
              <p style="font-size:22px; font-weight:bold; margin-top:-9px !important;">{{currentCustomer[fields[4][0].Field_API__c]}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 box-mid overview-div box" style="width: 57% !important;">
          <div style="float:left; position:relative; width:50%" class="overViewClass">
            <h1>Volume</h1>
            <div class="ani-number forBold">
              <button type="button" class="btn btn-default" style="background:#cccccc; margin-left: 7px !important;" ng-repeat="mon in lastThreeMonth | reverse">{{mon.Month}} </button>
            </div>
            <div class="ani-number forBorders">
              <button type="button" class="btn btn-default"  style="margin-left: 7px !important; border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;" ng-repeat="mon in lastThreeMonth | reverse"><div class="borderBottom_left"></div><div class="borderBottom_right"></div>{{newIndustryMonthAndCategoryWiseSales[mon.Month].Overall}}</button> 
            </div>
            <div class="btn-group" style="margin-top: 10px !important;">
              <button class="btn btn-default" style="text-transform:none; font-weight: bold !important;">Average last 3 month sales: {{avgSales}}</button>
              <!-- <button class="btn btn-default" style="text-transform:none; clear:left; font-weight: bold !important" >Current month sales: {{currentMonthSales}}</button> -->
              <button class="btn btn-default" style="text-transform:none; clear:left; font-weight: bold !important" ng-if="processFlow.Smile_Market__c">Current month sales: {{currentMonthSales}}</button>
            </div>
          </div>
          <div style="float:left; position:relative; width:50%" class="overViewClass">
            <h1 ng-if="!processFlow.Smile_Market__c">Market Share</h1>
            <h1 ng-if="processFlow.Smile_Market__c">Y-o-Y Growth</h1>
            <div class="ani-number forBold">
              <button type="button" class="btn btn-default" style="background:#cccccc;">Overall</button>
              <button type="button" class="btn btn-default" style="background:#cccccc;">Mild</button>
              <button type="button" class="btn btn-default" style="background:#cccccc;">Strong</button> 
            </div>
            <div class="ani-number forBorders">
              <button type="button" class="btn btn-default" style="border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;"><div class="borderBottom_left"></div><div class="borderBottom_right_indi"></div>{{CategoryWiseMs.Overall}}%</button>
              <button type="button" class="btn btn-default" style="border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;"><div class="borderBottom_left"></div><div class="borderBottom_right_indi"></div>{{CategoryWiseMs.Mild}}%</button>
              <button type="button" class="btn btn-default" style="border: none !important; border-bottom: 2px solid #ccc !important; border-radius: 0px !important;"><div class="borderBottom_left"></div><div class="borderBottom_right_indi"></div>{{CategoryWiseMs.Strong}}%</button>                
            </div>
            <div class="btn-group" style="padding-left:55px;">
              <a class="btn btn-success btn-danger-more" href="#/app/MarketShare/{{currentCustomer.Id}}" ><button class="button but-full btn-danger" style="padding: 0px 24px 0px 5px !important" ><img src="./img/more.png"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;More&nbsp;&nbsp;</button></a>
            </div>
          </div>
        </div>     


        <div class="col-lg-4 tab-box addOutletBoarders">
          <div class="row" style="background-color:#38B6CB !important; min-height: 40px; color:white; box-shadow: none !important; border-radius: 0px 3px 0px 0px; margin-top: 1px;">         
            <div class="col col-37">Promotions</div>
            <div class="col col-31">Type</div>
            <div class="col col-15">Start Date</div>
            <div class="col col-15">End Date</div>
          </div>
        <ion-scroll direction="y" zoom="false" >
          <div class="row stackSalesClass"  ng-repeat="promo in promotions">             
            <div class="col col-37">{{promo.Promotion_Name__c}}</div>
            <div class="col col-31">{{promo.Promotion_Type__c}}</div>
            <div class="col col-15">{{promo.Start_Date__c | date:"dd-MMM-yy"}}</div>
            <div class="col col-15">{{promo.End_Date__c | date:"dd-MMM-yy"}}</div>      
          </div>
          <div ng-if="promotions.length==0" style="width: 99.9%; position: relative;margin-left: 0px;background-color: #fff;padding: 5px 0px 5px 5px;margin-top: 3px;min-height: 22.3%; color: gray;">
            <div colspan="4" style="border:none !important;" >
            No Promotions associated with current outlet
            </div>
          </div>
        </ion-scroll>
        </div>
        
        </div>
      </div>
    </section>
    <!-- END Services Section -->
  </ion-content>
  <div class="bot-but bar-stable" style="z-index:999999; position:fixed; bottom:10px; text-align:right;">
          <button class="button btn-danger" style="margin-right:40px;"  ng-click="gotoObjectives();">Next</button>
        
          </div>
</ion-view>