

<ion-view view-title="{{currentOutlet.Name}}">
  <ion-content id="pop_content">
    <style type="text/css">
      #pop_content .slider-pager{
        top: 440px;
      }
      
      #pop_content .slider{
      height: 88%;
      }
      
    </style>
    <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:56px; background: #E2E2E2;  z-index:9;">
      <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems">
      <div class="mask_1" ng-show="key==0"></div>
        <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
        <div class="Breadcircle" ng-class="{Breadactive : breadActive==breadItem.Name}"></div>
        <span ng-class="{BreadactiveFont : breadActive==breadItem.Name}">{{breadItem.Name}}</span>
      </div>
    </div>
    <div class="col-md-12 second-mid-head" style="text-align:right; border:none; padding:30px 5px 0 0; " ng-hide="uploadslist.length>0 || addNewButton==false">
        <button class="button btn-danger" ng-click="addNew()" style="line-height: 31px; height: 31px; min-height: 31px; z-index:999; padding: 0 7px;" ><img src="img/plus-icon.png" style="  width: 20px !important;float: left !important;margin: 3px 10px 0 0 !important;" alt="" />&nbsp;&nbsp;{{addNewLabel}}&nbsp;&nbsp;</button>
     </div>
    
      <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" ng-show="uploadslist.length>0" >
        <ion-slide data-ng-repeat="(key,upload) in uploadslist" >
          <img src="./left.png" style="position:absolute; left:18px; top:40%; z-index: 999999;height: 8.6%;" ng-click="prevSlide()" ng-show="$index!=0 && uploadslist.length>1"/>    
          <img src="./right.png" style="position:absolute; right:18px; top:40%; z-index: 999999;height: 8.6%;" ng-click="nextSlide()" ng-hide="($index+1)==uploadslist.length  || uploadslist.length<1" /> 
          <div style="width:95%; margin:0 auto;">

            <div class="cooler-left-part cooler-page" on-hold="removeUpload('{{upload.External_Id__c}}')" ng-show="upload.Company__c=='UBL' || upload.Company__c=='' ||upload.Company__c==undefined" style="margin-left: 20px !important;">
              <div class="col-lg-4 tab-box" style="width:100%; margin: 5px 0px 0px 12px !important;" >
                <span style="text-align:left;">{{upload[titlefields[0]]}} {{upload[titlefields[1]]}} </span>
                <ion-scroll direction="y" delegate-handle="small-{{order}}{{key}}" style="box-shadow: none !important;" zooming="false" class="cooler-scroll">
                <table class="table no-border" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr data-ng-repeat="field in upload.fields " ng-hide="isFieldVisible(field.Dependent_Value__c,upload[field.Dependent_Field__c]) || isFieldVisible(field.Dependent_Value__c,uploadfields[order][key][field.Dependent_Field__c])">
                      <td ng-show="field.Type__c!='title'" style="width: 47% !important;">{{field.Name}}</td>
                      <td ng-show="field.Type__c!='title'">
                        <input type="text"
                          name="input"
                          style="width: 90% !important; height:50px !important;"
                          id="{{ field.Field_API__c }}"
                          ng-blur="updateSlide(order+''+key)"
                          data-ng-model="uploadfields[order][key][field.Field_API__c]" 
                          data-ng-show="{{field.Type__c!='title'&& field.Type__c=='text' || field.Type__c=='number' ||field.Type__c=='date'}}"
                          required>
                        <textarea name="textarea"
                        style="width: 100% !important; height: 70px !important;background-color: #e2e2e2;border: none !important;border-bottom: 1px solid #000 !important;"
                        id="{{ field.Field_API__c }}" ng-blur="updateSlide(order+''+key)"
                        data-ng-model="uploadfields[order][key][field.Field_API__c]" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='textarea'}}" ></textarea>
                        <select class="selectpicker" style="width: 67%;background-color: #e2e2e2;border-radius: 0px !important;border: none !important;" data-ng-model="uploadfields[order][key][field.Field_API__c]"  ng-options="pickVal for pickVal in field.pickListValues" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='select'}}">
                          <option value="">{{ field.Name | cut:true:17:' ...' }}</option>
                          <!--option value="">Select</option>
                           <option ng-repeat="pickVal in field.pickListValues" value="{{pickVal.value}}">{{pickVal.label}}</option-->
                        </select>
                        <div class="radio" ng-repeat="radioValue in field.pickListValues" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='radio'}}" style="width:35%; float:left;margin-top: 0px !important; margin-bottom: 0px !important;">
                            <label>
                                <input type="radio" name="radio{{order}}{{key}}{{field.Field_API__c}}"  ng-model="uploadfields[order][key][field.Field_API__c]" ng-value="radioValue" style="width: 30px !important; outline: none;" ng-click="changeValue(order,key,field.Field_API__c,radioValue);" ng-class="{radioButton_Active:uploadfields[order][key][field.Field_API__c]==radioValue}" />
                                <span style="line-height: 35px; padding-left: 10px;">{{radioValue}}</span>
                            </label>
                        </div>
                        <ion-radio ng-repeat="radioValue in field.pickListValues" ng-value="radioValue"   ng-model="uploadfields[order][key][field.Field_API__c]" name="{{order}}{{key}}{{field.Field_API__c}}" data-ng-show="{{field.Type__c!='title'&& field.Type__c=='ion-radio'}}" style="width:45%; float:left;" >{{radioValue}}</ion-radio>
                        <div data-ng-show="{{field.Type__c!='title'&& field.Type__c=='output'}}" style="width: 22%; background-color: #e2e2e2; border-bottom: 1px solid; text-align: center;" ng-class="{descriptionBox:field.Field_API__c=='Activity_Description__c'}">
                          <span style="width:90%" >{{upload[field.Field_API__c]!=undefined && upload[field.Field_API__c]!='' ? upload[field.Field_API__c] :'-'}}</span>
                          <div style="width: 1px; height: 5px; background-color: #000; position: absolute;left: 327px;"></div>
                          <div style="width: 1px; height: 5px; background-color: #000; position: relative;"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- {{upload|json}} -->
                  
                </ion-scroll>
              </div>
            </div>
            <div class="cooler-left-part cooler-page" on-hold="removeUpload('{{upload.External_Id__c}}')" ng-hide="upload.Company__c=='UBL' || upload.Company__c=='' ||upload.Company__c==undefined" style="margin-left: 15% !important; margin-top: 25px;width: 65%;">
              <div style="text-align:right; margin: 2px 0px 0px 0px; position: absolute; right: 40px; top: 0px;" ng-show="addNewButton"><button class="button btn-danger" ng-click="addNew()" style="line-height: 31px; z-index:999; padding: 0 7px;" ><img src="img/plus-icon.png" style="width: 20px !important;float: left !important;margin: 3px 10px 0 0 !important;" alt="" /> &nbsp;&nbsp;{{addNewLabel}}&nbsp;&nbsp;</button></div>
              <div class="col-lg-4 tab-box" style="width:100%;margin: 12px 0px 0px 32px" >
                <span style="text-align:left;">{{upload[titlefields[0]]}} {{upload[titlefields[1]]}} </span> 
                <ion-scroll direction="y" delegate-handle="small-{{order}}{{key}}" style="box-shadow: none !important;" zooming="false" class="nonub-cooler-scroll" >
                <table class="table no-border" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr data-ng-repeat="field in upload.fields " ng-hide="isFieldVisible(field.Dependent_Value__c,upload[field.Dependent_Field__c]) || isFieldVisible(field.Dependent_Value__c,uploadfields[order][key][field.Dependent_Field__c])">
                      <td ng-show="field.Type__c!='title' && field.Type__c=='textarea'" colspan="2" style="position: relative;left: 50px;top: 43px; font-weight: bold;">{{field.Name}}: <br/>
                        <textarea readonlyname="textarea"
                        style="width: 81% !important; height: 150px !important;background-color: #e2e2e2;border: none !important;margin-top: 7px;"
                        id="{{ field.Field_API__c }}" ng-blur="updateSlide(order+''+key)"
                        ng-model="uploadfields[order][key][field.Field_API__c]" ng-show="{{field.Type__c!='title'&& field.Type__c=='textarea'}}" placeholder="Cooler description goes here"></textarea>
                      </td>
                     
                    </tr>
                  </tbody>
                </table>
                <!-- {{upload|json}} -->
                  
                </ion-scroll>
                <div data-ng-show="{{field.Type__c!='title'&& field.Type__c=='output'}}" style="width: 22%; background-color: #e2e2e2; border-bottom: 1px solid; text-align: center;" ng-class="{descriptionBox:field.Field_API__c=='Activity_Description__c'}">
                  <span style="width:90%" >{{upload[field.Field_API__c]!=undefined && upload[field.Field_API__c]!='' ? upload[field.Field_API__c] :'-'}}</span>
                  <div style="width: 1px; height: 5px; background-color: #000; position: absolute;left: 327px;"></div>
                  <div style="width: 1px; height: 5px; background-color: #000; position: relative;"></div>
                </div>
               <button class="button btn-danger" ng-show="($index+1)==uploadslist.length" my-touchstart="saveAndNext()"style="margin-top:15px; position: absolute; bottom: -87px; right: -147px; z-index: 9999;" >Next</button>
              </div>
            </div>            
            <div class="cooler-right-part" ng-show="upload.Company__c=='UBL' || upload.Company__c=='' ||upload.Company__c==undefined">
              <div style="text-align:right; margin: -7px 0px 12px 0px; width: 109%;" ng-show="addNewButton"><button class="button btn-danger" ng-click="addNew()" style="line-height: 31px; z-index:999; padding: 0 7px;" ><img src="img/plus-icon.png" style="width: 20px !important;float: left !important;margin: 3px 10px 0 0 !important;" alt="" /> &nbsp;&nbsp;{{addNewLabel}}&nbsp;&nbsp;</button></div>
              <br ng-hide="addNewButton"/>
              <br ng-hide="addNewButton"/>
              <br ng-hide="showPlanogram"/>
              <div class="current-img-div" ng-show="showPlanogram">
                <h2 style="text-transform: none;">Planogram</h2>
                <div class="image-capture">
                  <img src="./img/ada-banner-showcase.png">
                </div>
              </div>
              <div class="current-img-div">
                <h2 style="text-transform: none;">Current Visit</h2>
                <!-- <div class="camera-icon" >
                  <a href="#" ng-click="takePicture('{{upload.External_Id__c}}');"><i class="fa fa-camera"></i></a>
                </div> -->
                <div class="image-current" style="max-height: 80px;overflow: auto;">
                  
                        <img ng-src="data:image/jpeg;base64,{{imgg}}" ng-repeat="imgg in PrideImages[upload.External_Id__c]" ng-show="PrideImages[upload.External_Id__c].length>0" ng-click="takePicture('{{upload.External_Id__c}}');" >
                      <img src="./img/camera-cooler.png" ng-hide="PrideImages[upload.External_Id__c].length>0" ng-click="takePicture('{{upload.External_Id__c}}');" >
                      <!-- <span style="position: absolute;width: 200px;left: 29px;top: 69px;color: #8f9194;" ng-hide="PrideImages[upload.External_Id__c].length>0">Tap to capture the image</span> -->
                </div>
              </div>
              <div class="current-img-div">
                <h2 style="text-transform: none;">Last Visit</h2>
                <div class="image-capture" style="max-height: 80px;overflow: auto;">
                  <img ng-repeat="lastCooler in lastCoolers" ng-if="lastCooler.External_Id__c.indexOf(upload.Id)!=-1 || lastCooler.External_Id__c.indexOf(upload.External_Id__c)!=-1" ng-src="data:image/jpeg;base64,{{lastCooler.Body}}"  > 
                </div>
              </div>
              <br/>
              <div style="text-align: right;width: 109%;">
               <button class="button btn-danger" ng-show="($index+1)==uploadslist.length " my-touchstart="saveAndNext()" style="margin-top:13px; z-index: 9999;">Next</button>
              </div>
            </div>
            
          </div>
        </ion-slide>
      </ion-slide-box>
    <div class="col-lg-4 tab-box" style="width: 84%; margin: 50px auto; margin-left: 76px;"  ng-hide="uploadslist.length>0">
    <div style="padding:5px; text-align:center; box-shadow: none !important;padding-top: 23px;min-height: 70px;">
    This outlet does not have any {{breadActive}}. Tap next to continue the call or tap +{{breadActive}} to add a new {{breadActive}}.
    </div>
    </div>
  </ion-content>
   <div class="bot-but bar-stable" style="position:fixed; bottom:10px; text-align:right;" ng-hide="uploadslist.length>0" >
    <button class="button btn-danger" style="margin-right:40px;z-index: 9999;" my-touchstart="saveAndNext()">Next</button>
  </div> 
</ion-view>