  <ion-view view-title="Confirm Adding Outlets" >
  <ion-content id="reason_content">
   
     <span>{{selectedAccounts.length}} outlet(s)</span>
    <div class="col-lg-4 tab-box addOutletBoarders" style="width:91%; float: none;margin: 12 auto;height: 57%; max-height: 61%;" >
      <div class="row" style="background-color:#38B6CB !important; min-height: 40px; color:white; box-shadow: none !important;">
        <div class="col col-37">          
          Outlet Name
        </div>
        <div class="col col-15">Shop Code</div>
        <div class="col col-24">Route</div>
        <div class="col col-25">Area</div>
      </div>
      <ion-scroll direction="y" zoom="false" >
        <div class="row stackSalesClass"  ng-repeat="account in selectedAccounts">
          <div class="col col-37">
            <div style="float: left; position: relative; width: 80%; text-align: left !important;">
              <p style="padding-left: 20px !important; margin-bottom: 0px;">{{account.Name}}</p>
            </div>
          </div>
          <div class="col col-15" style="text-align: left !important;">{{account.Outlet_ID__c}}</div>
          <div class="col col-24" style="text-align: left !important;">{{routeNames[account.Id]}}</div>
          <div class="col col-25" style="text-align: left !important;">{{account.Area_Outlet_Location__c}}</div>
        </div>

        

      </ion-scroll>
    </div>
      <div class="list" style="height: 15%;">
          
           <label class="item item-input">
            <textarea placeholder="Enter reason for adding outlet(s)" required="true" data-ng-model="addAccounts.Reason"></textarea>
          </label>
          <div class="bot-but bar-stable">
      <button class="button btn-danger" ng-click="CancelAddRoutes();" style="width: 145px;">Cancel</button>
      <button class="button btn-danger" style="margin-right:60px;" ng-click="confirmOutletAdd();" ng-class="{'btn-disabled': addAccounts.Reason==undefined || addAccounts.Reason=='','btn-danger': addAccounts.Reason!=undefind && addAccounts.Reason!=''}">Confirm</button>
      
    </div>
        </div>
       
       
    <!-- <div class="bot-but bar-stable">
      <button class="button btn-danger" ng-click="CancelAddRoutes();" style="width: 145px;">Cancel</button>
      <button class="button btn-danger" style="margin-right:60px;" ng-click="confirmOutletAdd();" ng-class="{'btn-disabled': addAccounts.Reason==undefined || addAccounts.Reason=='','btn-danger': addAccounts.Reason!=undefind && addAccounts.Reason!=''}">Confirm</button>
      
    </div> -->
     
  </ion-content>
  
</ion-view>
  
    
 