
  <ion-view view-title="Confirm Deleting Outlets" >
  <ion-content id="removeOutlet_content">
   
      
    
     
      <div class="item item-divider" style="border: none;">
        <span class="outletCount">1 outlet(s)</span>        
      </div>
      <div style="width:92%; float:none; margin:0px auto; position:relative;height: 18%;">
      <table style="width:100%;" class="addOutletBoarders" >
       <thead>
         <tr>
           <!--th style="width:5%;text-align:center">#</th--><th>Outlet Name</th><th>Shop Code</th><th>Route</th><th>Area</th>
         </tr>
         </thead>
         <tbody style="background-color:#ffffff">
         <tr >
          <!--td style="width:5%;text-align:center">1</td-->
          <td>{{selectedAccountToRemove.Name}}</td>
          <td>{{selectedAccountToRemove.Outlet_ID__c}}</td>
          <td>{{routeNames[selectedAccountToRemove.Id]}}</td>
           <td>{{selectedAccountToRemove.Area_Outlet_Location__c}}</td>
         </tr>
         </tbody>
       </table>
        <form style="height: 64%;">
      <div class="list" style="margin-bottom: 16%;">
        
         <label class="item item-input" style="width: 70%;margin: 0 auto;border: none; margin-top: 20px;">
          <textarea placeholder="Enter reason for removing outlet" required="true" data-ng-model=" remove.Reason" style="border: none !important;height: 110px !important; box-shadow: 0px 2px #b2aea8;"></textarea>
        </label>
      </div>
      <div class="bot-but bar-stable">
    <button class="button btn-danger" ng-click="CancelAddRoutes();" style="min-width: 144px;">Cancel</button>
    <button class="button btn-danger" style="" ng-click="confirmOutletRemove();" ng-class="{'btn-disabled': remove.Reason==undefined || remove.Reason==''}">Remove</button> 
     </div>
     
      </form>
      
    
    <!--  <form style="height: 64%;">
      <div class="list">
        
         <label class="item item-input" style="width: 70%;margin: 0 auto;border: none; margin-top: 20px;">
          <textarea placeholder="Enter reason for removing outlet" required="true" data-ng-model=" remove.Reason" style="border: none !important;height: 110px !important; box-shadow: 0px 2px #b2aea8;"></textarea>
        </label>
      </div>
     
      </form>  -->
    
     <!--div class="customFooter">        
        <button class="button btn-danger" ng-click="confirmOutletRemove();">Remove</button>
          <button class="button btn-danger" ng-click="CancelAddRoutes();">Cancel</button>
      </div-->
    <!-- <div class="bot-but bar-stable" style="">
    <button class="button btn-danger" ng-click="CancelAddRoutes();" style="min-width: 144px;">Cancel</button>
    <button class="button btn-danger" style="margin-right:40px;" ng-click="confirmOutletRemove();">Remove</button> -->
    
  </div>
  </ion-content>
  
</ion-view>
  
    
 