
  <ion-view view-title="Confirm Deleting {{breadActive}}" >
  <ion-content>
   
      
    
     
      <div>
    
     
      <div class="list">
        
         <label class="item item-input" style="width: 70%;margin: 0 auto;border: none; margin-top: 20px;">
          <textarea placeholder="Enter reason for removing outlet" required="true" data-ng-model=" remove.Reason" style="border: none !important;height: 110px !important; box-shadow: 0px 2px #b2aea8;"></textarea>
        </label>
      </div>
     
    
     </div>
      <div class="bot-but bar-stable" style="z-index:999999; position:relative; margin-top: {{cancelConfirmTop}}px; text-align:right;">
        <button class="button btn-danger" ng-click="CancelUploadRemove();">Cancel</button>
        <button class="button btn-danger" style="margin-right:30px;" ng-click="confirmRemoveUpload();" ng-class="{'btn-disabled': remove.Reason==undefined || remove.Reason==''}">Remove</button>
        
      </div>
  </ion-content>
  
</ion-view>
  
    
 