<ion-view view-title="{{currentCustomer.Name}}">
<style type="text/css">
	.mask_1 {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 50%;
  height: 1px;
  background-color: #fff;
 }
 .mask_2 {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 50%;
  height: 1px;
  background-color: #fff;
 }
</style>
<div class="bar-stable" style="z-index:999999; position:fixed; top:47px; background:#E2E2E2;  width:100%;" >
		<div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:55px; width:100%;">
	      <div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems">
	      <div class="mask_1" ng-show="key==0"></div>
	       <div class="mask_2" ng-show="key==processFlowLineItems.length-1"></div>
	        <div class="Breadcircle" ng-class="{Breadactive : 'Sales'==breadItem.Name}"></div><span>{{breadItem.Name}}</span>
	      </div>
	      
	    </div>
	    <div class="col-lg-4 tab-box" style="width:97%; " ng-show="!showCompetitor && !showChattaii" >
	    	<h1 >UBL Sales</h1>
	    	<div class="row" style="background-color:#65B4CE !important; color:#ffffff !important; min-height: 40px;">
					  <div class="col col-33">SKU Name</div>
					  <div class="col col-33">Sales</div>
					  <div class="col col-33">
					  	<select ng-model="Month.name" style="float:right; background-color: #ffffff">
							<option value="">Month</option>
							<option value="JAN">JAN</option>
							<option value="FEB">FEB</option>
							<option value="MARCH">MAR</option>
							<option value="APRIL">APR</option>
							<option value="MAY">MAY</option>
							<option value="JUNE">JUN</option>
							<option value="JULY">JUL</option>
							<option value="AUG">AUG</option>
							<option value="SEP">SEP</option>
							<option value="OCT">OCT</option>
							<option value="NOV">NOV</option>
							<option value="DEC">DEC</option>
						</select>
					</div>
					</div>
	    </div>
	    <div class="col-lg-4 tab-box" style="width:97%; " ng-show="showCompetitor && !showChattaii" >
	    	<h1 >Competitor Sales  </h1>
	    	<div class="row" style="background-color:#65B4CE !important; color:#ffffff !important; min-height: 40px;">
					  <div class="col col-33">SKU Name</div>
					  <div class="col col-33">Sales</div>
					  <div class="col col-33">
					  	
					</div>
					</div>
	    </div>
	    <div class="col-lg-4 tab-box" style="width:97%; " ng-show="showChattaii" >
	    	<h1 >Industry Sales</h1>
	    	<div class="row" style="background-color:#65B4CE !important; color:#ffffff !important; min-height: 40px;" >
					  <div class="col col-33">SKU Name</div>
					  <div class="col col-33">Sales</div>
					  <div class="col col-33">
					  	<select ng-model="Month.name" style="float:right; background-color: #ffffff">
							<option value="">Month</option>
							<option value="JAN">JAN</option>
							<option value="FEB">FEB</option>
							<option value="MARCH">MAR</option>
							<option value="APRIL">APR</option>
							<option value="MAY">MAY</option>
							<option value="JUNE">JUN</option>
							<option value="JULY">JUL</option>
							<option value="AUG">AUG</option>
							<option value="SEP">SEP</option>
							<option value="OCT">OCT</option>
							<option value="NOV">NOV</option>
							<option value="DEC">DEC</option>
						</select>
					</div>
					</div>
	    </div>
	    <br /><br />
	</div>
  <ion-content style="margin-top:130px;" > 
  
  <div class="col-lg-12 tab-box" style="width:97%; " ng-hide="showChattaii">
			<div class="col-lg-4" ng-hide="showCompetitor" >
				
				
							
							
								<div class="row" data-ng-repeat="(key,sale) in UblSales" ng-click="selectRowSales(key)" ng-class="{rowselected:sale.clicked}">
									<div class="col col-33">&nbsp;&nbsp;&nbsp;{{sale.SKUName}}</div>
									<div class="col col-33">
										<input type="number" tabindex="{{key+1}}" data-ng-model="sale.sales"/>
									</div>
									<div class="col col-33">
										
									</div>
								</div>
							
							<div class="bot-but" >
							<button class="button btn-danger" ng-click="enableCompetitor();" style="margin-top:10px;" >Next</button>
							</div>
						
			</div>
			<div class="col-lg-4 " ng-show="showCompetitor" >
				
				
							
								
								<div class="row" data-ng-repeat="(key,sale) in CompeSales" ng-click="selectRowComp(key)" ng-class="{rowselected:sale.clicked}">
									<div class="col col-33">&nbsp;&nbsp;&nbsp;{{sale.SKUName}}</div>
									<div class="col col-33" >
										<input type="number" tabindex="{{key+1}}" data-ng-model="sale.sales"/>
									</div>
									<div class="col col-33">
									</div>
								</div>


							<div class="bot-but" >
							<button class="button btn-danger" ng-click="SaveSales();" style="margin-top:10px;" >Next</button>
							</div>
							
						
			</div>
			
		</div>

		<div class="col-lg-12 tab-box" style="width:97%; " ng-show="showChattaii">
			<div class="col-lg-4 "  >
				
				
							
							
								<div class="row" data-ng-repeat="(key,sale) in chattaiiSales" ng-click="selectRowChattaii(key)" ng-class="{rowselected:sale.clicked}">
									<div class="col col-33">&nbsp;&nbsp;&nbsp;{{sale.SKUName}}</div>
									<div class="col col-33">
										<input type="number" tabindex="{{key+1}}" data-ng-model="sale.sales"/>
									</div>
									<div class="col col-33">
										
									</div>
								</div>
												
						<div class="bot-but" style="text-align: right;" >
			<button class="button btn-danger" ng-click="SaveSales();" style="margin-top:10px;  margin-right: 5px" >Next</button>
			</div>
			</div>
			
			
		</div>
	</ion-content>
	
	
</ion-view>