<ion-view view-title="{{currentOutlet.Name}}" id="stockDetails_view">
	<div class="bar-stable" style="z-index:999999; position:fixed; top:47px; background:#E2E2E2;" id="stockDetails_header">
		<div class="col-md-12 second-mid-head" style="width:86%; position: fixed; left: 0px; right: 0px; margin: 12 auto; top: 42px;border: none;">
			<div class="BreadtopBar" ng-repeat="(key, breadItem) in processFlowLineItems" ng-click="breadcrumClicked(params.AccountId,params.visitId,params.order,key,'fromPage')">
				<div class="mask_1" ng-if="key==0"></div>
				<div class="mask_2" ng-if="key==processFlowLineItems.length-1"></div>
				<div class="Breadcircle" ng-class="{Breadactive : 'Stock Details'==breadItem.Name}"></div>
				<span ng-class="{BreadactiveFont : 'Stock Details'==breadItem.Name}">{{breadItem.Name}}</span>
			</div>
		</div>
		<div class="col-lg-4 tab-box addOutletBoarders" style="width:70%; position: fixed; left: 0px; right: 0px; margin: 12 auto; top: 112px;" >
			<div class="row stackPageHeading" style="background-color:#38b6cb !important; min-height: 40px; color:#fff; box-shadow: none !important; border-radius: 0px 0px 0px 0px; ">
				<div class="col col-30" my-touchstart="gotoProductOrder();"><a href="#" style="text-decoration:none;color:#fff;">Products</a></div>
				
				<div class="col col-26">Age of oldest stock</div>
				<div class="col col-20 checkBoxStyle_1" my-touchstart="showLoadingScreen();selectAllAsChilled();">
				     <ion-checkbox ng-model="selectAllChilled" ng-class="{checkBoxStyle_selectAll:selectAllChilled}" ng-disabled="true"  style="outline:none; border:none; background:none; padding: 12px 0px 8px 39px !important;display: inline-block;position: relative;top: 3px;"></ion-checkbox>
				    <span>Chilled</span> 
   				 </div>
			</div>
		</div>
		<br /><br />
	</div>
	<ion-content style="margin-top:110px;" overflow-scroll="true">
		<div class="col-md-12 tab-box" style="width:70%; position: relative;  right: 0px; margin: 8 auto; min-height: 79%;float: none; ">
			<div class="col-lg-4 addOutletBoarders "  style="padding:0px; box-shadow: none !important; border-radius: 0px 0px 0px 0px !important; min-height: 0px;margin-top: 4px; background: none;" >
			<div  ng-repeat="(key1,company) in companyMapList">
				<div class="myCompany" >{{company}}</div>
				<div class="row stackSalesClass" ng-class="{rowactive: stock.class=='selected',rowselected:stock.clicked}" ng-if="company==companyMap[stock.Product__c]"  ng-repeat="(key,stock) in StockAndSalesList " my-touchstart="selectRow_display(key, $event, $index)" >			
					<div class="col col-30" ng-class="{fadded: !(stock.Stock_Available__c),rowselected:stock.clicked, stockOlder_last_1:stocDetailsPickValues[stocDetailsPickValues.length-2]==stock.Stock_Ageing__c,stockOlder_last_2:stocDetailsPickValues[stocDetailsPickValues.length-3]==stock.Stock_Ageing__c,stockOlder_last_3:stocDetailsPickValues[stocDetailsPickValues.length-4]==stock.Stock_Ageing__c, stockOlder:stocDetailsPickValues[stocDetailsPickValues.length-1]==stock.Stock_Ageing__c}" style="text-align: left !important; padding-left: 17px !important; max-width: 40.2%;"><div class="displayDiv"  id="mySelect_{{$index}}"></div>{{stock.ProductName}}</div>
					<div class="col col-26">
						<select ng-model="stock.Stock_Ageing__c" ng-class="{rowselectedTransp:stock.clicked}" ng-disabled="!(stock.Stock_Available__c)" style="background-color: #ffffff" ng-options="pickVal for pickVal in stocDetailsPickValues">
							<option value="">-Select-</option>
							<!-- <option value="0-30">0-30</option>
							<option value="30-60">30-60</option>
							<option value="60-90">60-90</option>
							<option value="90-120">90-120</option>
							<option value=">120">>120</option> -->
						</select>
					</div>					

					<div class="col col-20 checkBoxStyle_2" ng-class="{checkBoxStyle_clicked:stock.Chilled_Stock__c}">   
                     <ion-checkbox ng-model="stock.Chilled_Stock__c" style="outline:none; border:none; background:none; margin-left: 15px; padding: 16px !important;" ng-change="changeChilledStock(stock.Chilled_Stock__c, $index)" ng-disabled="!(stock.Stock_Available__c)" ></ion-checkbox>
      <div class="displayDiv_1" id="mySelect1_{{$index}}"></div>
     </div>				
				</div>
				
			</div>
			</div>
		</div>
		<div style="position: relative;width: 93%;margin: 0 auto;">		
			<div class="col" style="width:50%; float:right; position:relative; text-align:right; padding-bottom: 22px;">
				<button class="button btn-danger" my-touchstart="showLoadingScreen();SaveStocks();" style="float:right; margin-right: 5px;" >Next</button>
			</div>
		</div>
	</ion-content>

</ion-view>