<ion-view view-title="Route Plan">
 <div id="app_version" style="position:fixed; bottom: 5px; right: 10px;z-index: 0;">Version:{{appVersion}}</div>
 <div id="is_synced" style="position:fixed; bottom: 5px; left: 10px;z-index: 0; width:250px;" class="ng-binding" ng-if="incompleteSync" ng-bind-html="incompleteSyncText" ></div>
  <ion-content id='today_content'> 
    <style>
      
      .tab_button_home{
    background-color:#E2E2E2 !important;
  min-height:40px !important;
  line-height:35px;
  width:200px;
   }
   .tab_active{
    border-bottom: 4px solid #007DFF;
  
   }
      .div_half{
        width:40%;
        height: 40%;
        float:left;
        position:relative;
        margin:0.5% -3% 3% 7.5% !important;
      }
      .div_image{
        width:40%;
        float:left;
        position:relative;
        border:none;
      }
      .div_image img{
        max-width:90%;
        
      }
      .div_text{
        width:60%;
        float:left;
        position:relative;
        border:none;
        padding: 5px;
      }
      .div-body{
        overflow: hidden;
        height: 200px;
        padding: 0px;
      }
      .div_store_name{
        width:70%;
        float:left;
        position:relative;
        font-size:20px;
        line-height:22px;
        overflow: hidden;
      }
      .div_location{
        width:30%;
        float:left;
        position:relative;
        text-align:right;
      }
      .bottom_buttons{
        background-color:#666666 !important;
        
      }
      .bottom_buttons *{
        color:#FFFFFF !important;
      }
      
       #today_content .slider{
        height: 87%;
       }
       
     .slider-slide{
      /*  width:960px !important;*/
     }
     #today_content .slider-pager{
      position: fixed;
      bottom: -3px;
     }
     .round {
                /*border-radius: 50%;*/
                overflow: hidden;
                width: 150px;
                height: 150px;
            }
            .round img {
                display: block;
            /* Stretch 
                  height: 100%;
                  width: 100%; */
            min-width: 100%;
            min-height: 100%;
            }

    </style>

    <div style="text-align:center;" ng-if="showMessage==false">
<!-- Start Billboard Section-->
<section id="billboard" class="bill-board">
    <div >
            <div class="col-lg-1 left-but pull-left" style="width:18%;">
            <div class="btn-group btn-toggle" > 
            <!--<button class="btn btn-danger active">Route Plan</button>-->
            <button class="btn btn-danger active btn-common-today" style="padding: 5px 14px 5px 5px !important" ng-click="goToMap('All');"><a  style="color:#ffffff;"><img src="./LDPI-32/loc.png" style="height:18px;" alt="" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Map&nbsp;&nbsp;&nbsp;&nbsp;</a></button>
            </div>
                
            </div>
            
            <div class="col-lg-8  mid-but" style="width:64%;">
              <div class="btn-group btn-toggle">
                <ul>
                    <li data-ng-click="showLoadingScreen();getPlan('today');"><a href="#" ng-class="{active: day=='today'}" style="width:150px; z-index:999999; text-transform: none !important;">{{TodayDate}}</a></li>
                    <li data-ng-click="showLoadingScreen();getPlan('tomorrow');"><a href="#" ng-class="{active: day=='tomorrow'}" style="width:150px; z-index:999999; text-transform: none !important">{{TomorrowDate}}</a></li>
                    <li style="width:150px;" data-ng-click="showLoadingScreen();getPlan('dayAfter');" ><a href="#" ng-class="{active: day=='dayAfter'}" style="width:150px; z-index:999999; text-transform: none !important">{{DayAfterDate}}</a></li>
                </ul>
                </div>
            </div>
            
            <div class="col-lg-3 right-but pull-right" style="width:18%;">
                <button class="btn btn-common-today" style="margin: auto; z-index:999999; font-size: 13px; padding: 4px 14px 4px 5px !important;text-transform: none !important;" ng-click="addNewOutlets();" ng-class="{'btn-disabled': day!='today','btn-danger': day=='today'}">&nbsp;&nbsp;&nbsp;<img src="img/plus-icon.png" alt="" />Outlet&nbsp;</button> 
            </div>
        
    </div>
</section>
</div>
 <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="{{SlidesList.length>1 ? 'true' :'false'}}"  class="services todayService" ng-if="SlidesList.length>0 && showMessage==false" >
      <ion-slide ng-repeat="(key,slide) in SlidesList">

            <img src="./left.png" style="position:fixed; top:40%; z-index: 999999;left: 20px; height: 9%;" ng-click="prevSlide()" ng-show="$index!=0 && SlidesList.length>1"/>
            <img src="./right.png" style="position:fixed;top:40%; z-index: 999999; right: 20px; height: 9%;" ng-click="nextSlide()" ng-hide="($index+1)==SlidesList.length  || SlidesList.length<1" />

            <div class="col-sm-6 col-md-6 box div_half" ng-class="{todayactive: Outlets[(key*4)+0].isNext==true,removedOutlet: Outlets[(key*4)+0].RoutePlan.Status__c=='Removed',todaydone: Outlets[(key*4)+0].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+0].Id]=='done',todaydonesynced: Outlets[(key*4)+0].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+0].Id]!='done' }" on-hold="onSwipeup('{{Outlets[(key*4)+0].Id}}')" ng-if="Outlets.length>((key*4)+0)"> 
             <div class="top-header" >
                        <h3 >

                        <div style="text-overflow: ellipsis; width: 200px; white-space: nowrap;  overflow: hidden; float:left;" >
                          <div class="number-box">{{Outlets[(key*4)+0].RoutePlan.Order__c}}</div>{{Outlets[(key*4)+0].Name}}
                    </div>

                    <div style="width: 50px; float:right; position:relative; " ng-click="goToMap('{{Outlets[(key*4)+0].Id}}');"><a><img  src="./img/map.png"  /></a></div>

                    </h3>
                        
                    </div>
                    <article class="text-center"  style="height:79%;">
                    <div class="round" style="width:35%; float:left; position:relative; height:100% ">
                    <img ng-src="{{AccountImages[Outlets[(key*4)+0].Id]}}" ng-click="takePicture(Outlets[(key*4)+0].Id);" style="width:100%; height:100%; float:left;" />
                    
                    </div>
                    <div class="right-con" style="height:100%" ng-click='goToOverview(Outlets[(key*4)+0].Id, Outlets[(key*4)+0].RecordType.Name)'>
                   
                    <!--<i class="fa fa-map-marker"></i>-->
                    
                    
                    <p style="color:#000000; font-weight:bold;margin-top: 10px !important;" >{{Outlets[(key*4)+0][fields[Outlets[(key*4)+0].RecordType.Name][0][0].Field_API__c]}}</p>
                    <div class="bottom-con bottom-con1">
                       <span style="padding-bottom: 5px; font-size: 16px;" >{{Outlets[(key*4)+0][fields[Outlets[(key*4)+0].RecordType.Name][1][0].Field_API__c]}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+0].RecordType.Name == "Outlet"'>{{Outlets[(key*4)+0][fields[Outlets[(key*4)+0].RecordType.Name][2][0].Field_API__c]}}</span>
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+0].RecordType.Name != "Outlet"' ng-class='{depotClass:Outlets[(key*4)+0].RecordType.Name == "Depot", wholeSaleClass:Outlets[(key*4)+0].RecordType.Name == "WholeSeller"}'>{{Outlets[(key*4)+0].RecordType.Name}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" class="outletClass" >{{Outlets[(key*4)+0][fields[Outlets[(key*4)+0].RecordType.Name][3][0].Field_API__c]}}</span>
                        
                        <p style="font-size:22px; font-weight:bold; margin-top:-9px !important;" >{{Outlets[(key*4)+0][fields[Outlets[(key*4)+0].RecordType.Name][4][0].Field_API__c]}}</p>
                    </div>
                    </div>
                    
                </article>
            </div>

            <div class="col-sm-6 col-md-6 box div_half" ng-class="{todayactive: Outlets[(key*4)+1].isNext==true,removedOutlet: Outlets[(key*4)+1].RoutePlan.Status__c=='Removed',todaydone: Outlets[(key*4)+1].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+1].Id]=='done',todaydonesynced: Outlets[(key*4)+1].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+1].Id]!='done' }" on-hold="onSwipeup('{{Outlets[(key*4)+1].Id}}')" ng-if="Outlets.length>((key*4)+1)"> 
             <div class="top-header" >
                        <h3 >

                        <div style="text-overflow: ellipsis; width: 200px; white-space: nowrap;  overflow: hidden; float:left;" >
                          <div class="number-box">{{Outlets[(key*4)+1].RoutePlan.Order__c}}</div>{{Outlets[(key*4)+1].Name}}
                    </div>

                    <div style="width: 50px; float:right; position:relative; " ng-click="goToMap('{{Outlets[(key*4)+1].Id}}');"><a><img  src="./img/map.png"  /></a></div>

                    </h3>
                        
                    </div>
                    <article class="text-center"  style="height:79%;">
                    <div class="round" style="width:35%; float:left; position:relative; height:100% ">
                    <img ng-src="{{AccountImages[Outlets[(key*4)+1].Id]}}" ng-click="takePicture(Outlets[(key*4)+1].Id);" style="width:100%; height:100%; float:left;" />
                    
                    </div>
                    <div class="right-con" style="height:100%" ng-click='goToOverview(Outlets[(key*4)+1].Id, Outlets[(key*4)+1].RecordType.Name)' >
                    
                    <!--<i class="fa fa-map-marker"></i>-->
                    
                    <p style="color:#000000; font-weight:bold;margin-top: 10px !important;" >{{Outlets[(key*4)+1][fields[Outlets[(key*4)+1].RecordType.Name][0][0].Field_API__c]}}</p>
                    <div class="bottom-con bottom-con1">
                       <span style="padding-bottom: 5px; font-size: 16px;">{{Outlets[(key*4)+1][fields[Outlets[(key*4)+1].RecordType.Name][1][0].Field_API__c]}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+1].RecordType.Name == "Outlet"'>{{Outlets[(key*4)+1][fields[Outlets[(key*4)+1].RecordType.Name][2][0].Field_API__c]}}</span>
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+1].RecordType.Name != "Outlet"' ng-class='{depotClass:Outlets[(key*4)+1].RecordType.Name == "Depot", wholeSaleClass:Outlets[(key*4)+1].RecordType.Name == "WholeSeller"}'>{{Outlets[(key*4)+1].RecordType.Name}}</span>
                        <br />
                        <span class="outletClass" style="padding-bottom: 5px; font-size: 16px;" >{{Outlets[(key*4)+1][fields[Outlets[(key*4)+1].RecordType.Name][3][0].Field_API__c]}}</span>
                        
                        <p style="font-size:22px; font-weight:bold; margin-top:-9px !important;" >{{Outlets[(key*4)+1][fields[Outlets[(key*4)+1].RecordType.Name][4][0].Field_API__c]}}</p>
                    </div>
                    </div>
                    
                </article>
            </div> 


            <div class="col-sm-6 col-md-6 box div_half" ng-class="{todayactive: Outlets[(key*4)+2].isNext==true,removedOutlet: Outlets[(key*4)+2].RoutePlan.Status__c=='Removed',todaydone: Outlets[(key*4)+2].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+2].Id]=='done',todaydonesynced: Outlets[(key*4)+2].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+2].Id]!='done' }" on-hold="onSwipeup('{{Outlets[(key*4)+2].Id}}')" ng-if="Outlets.length>((key*4)+2)"> 
             <div class="top-header" >
                        <h3 >

                        <div style="text-overflow: ellipsis; width: 200px; white-space: nowrap;  overflow: hidden; float:left;" >
                          <div class="number-box">{{Outlets[(key*4)+2].RoutePlan.Order__c}}</div>{{Outlets[(key*4)+2].Name}}
                    </div>

                    <div style="width: 50px; float:right; position:relative; " ng-click="goToMap('{{Outlets[(key*4)+2].Id}}');"><a><img  src="./img/map.png"  /></a></div>

                    </h3>
                        
                    </div>
                    <article class="text-center"  style="height:79%;">
                    <div class="round" style="width:35%; float:left; position:relative; height:100% ">
                    <img ng-src="{{AccountImages[Outlets[(key*4)+2].Id]}}" ng-click="takePicture(Outlets[(key*4)+2].Id);" style="width:100%; height:100%; float:left;" />
                    
                    </div>
                    <div class="right-con" style="height:100%"  ng-click='goToOverview(Outlets[(key*4)+2].Id, Outlets[(key*4)+2].RecordType.Name)'>
                    <!--<i class="fa fa-map-marker"></i>-->
                    
                    <p style="color:#000000; font-weight:bold;margin-top: 10px !important;" >{{Outlets[(key*4)+2][fields[Outlets[(key*4)+2].RecordType.Name][0][0].Field_API__c]}}</p>
                    <div class="bottom-con bottom-con1">
                       <span style="padding-bottom: 5px; font-size: 16px;" >{{Outlets[(key*4)+2][fields[Outlets[(key*4)+2].RecordType.Name][1][0].Field_API__c]}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+2].RecordType.Name == "Outlet"' >{{Outlets[(key*4)+2][fields[Outlets[(key*4)+2].RecordType.Name][2][0].Field_API__c]}}</span>
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+2].RecordType.Name != "Outlet"' ng-class='{depotClass:Outlets[(key*4)+2].RecordType.Name == "Depot", wholeSaleClass:Outlets[(key*4)+2].RecordType.Name == "WholeSeller"}'>{{Outlets[(key*4)+2].RecordType.Name}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" class="outletClass" >{{Outlets[(key*4)+2][fields[Outlets[(key*4)+2].RecordType.Name][3][0].Field_API__c]}}</span>
                        
                        <p style="font-size:22px; font-weight:bold; margin-top:-9px !important;"  >{{Outlets[(key*4)+2][fields[Outlets[(key*4)+2].RecordType.Name][4][0].Field_API__c]}}</p>
                    </div>
                    </div>
                    
                </article>
            </div> 

            <div class="col-sm-6 col-md-6 box div_half" ng-class="{todayactive: Outlets[(key*4)+3].isNext==true,removedOutlet: Outlets[(key*4)+3].RoutePlan.Status__c=='Removed',todaydone: Outlets[(key*4)+3].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+3].Id]=='done',todaydonesynced: Outlets[(key*4)+3].isCompleted=='saved' && unsyncedAccounts[Outlets[(key*4)+3].Id]!='done' }" on-hold="onSwipeup('{{Outlets[(key*4)+3].Id}}')" ng-if="Outlets.length>((key*4)+3)"> 
             <div class="top-header" >
                        <h3 >

                        <div style="text-overflow: ellipsis; width: 200px; white-space: nowrap;  overflow: hidden; float:left;" >
                          <div class="number-box">{{Outlets[(key*4)+3].RoutePlan.Order__c}}</div>{{Outlets[(key*4)+3].Name}}
                    </div>

                    <div style="width: 50px; float:right; position:relative; " ng-click="goToMap('{{Outlets[(key*4)+3].Id}}');"><a><img  src="./img/map.png"  /></a></div>

                    </h3>
                        
                    </div>
                    <article class="text-center"  style="height:79%;">
                    <div class="round" style="width:35%; float:left; position:relative; height:100% ">
                    <img ng-src="{{AccountImages[Outlets[(key*4)+3].Id]}}" ng-click="takePicture(Outlets[(key*4)+3].Id);" style="width:100%; height:100%; float:left;" />
                    
                    </div>
                    <div class="right-con" style="height:100%" ng-click='goToOverview(Outlets[(key*4)+3].Id, Outlets[(key*4)+3].RecordType.Name)'>
                    
                    <!--<i class="fa fa-map-marker"></i>-->
                    
                    <p style="color:#000000; font-weight:bold;margin-top: 10px !important;" >{{Outlets[(key*4)+3][fields[Outlets[(key*4)+3].RecordType.Name][0][0].Field_API__c]}}</p>
                    <div class="bottom-con bottom-con1">
                       <span style="padding-bottom: 5px; font-size: 16px;" >{{Outlets[(key*4)+3][fields[Outlets[(key*4)+3].RecordType.Name][1][0].Field_API__c]}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+3].RecordType.Name == "Outlet"'>{{Outlets[(key*4)+3][fields[Outlets[(key*4)+3].RecordType.Name][2][0].Field_API__c]}}</span>
                        <span style="padding-bottom: 5px; font-size: 16px;" ng-if='Outlets[(key*4)+3].RecordType.Name != "Outlet"' ng-class='{depotClass:Outlets[(key*4)+3].RecordType.Name == "Depot", wholeSaleClass:Outlets[(key*4)+3].RecordType.Name == "WholeSeller"}'>{{Outlets[(key*4)+3].RecordType.Name}}</span>
                        <br />
                        <span style="padding-bottom: 5px; font-size: 16px;" class="outletClass" >{{Outlets[(key*4)+3][fields[Outlets[(key*4)+3].RecordType.Name][3][0].Field_API__c]}}</span>
                        <p style="font-size:22px; font-weight:bold; margin-top:-9px !important;" >{{Outlets[(key*4)+3][fields[Outlets[(key*4)+3].RecordType.Name][4][0].Field_API__c]}}</p>
                    </div>
                    </div>
                    
                </article>
            </div> 
      </ion-slide>
    </ion-slide-box>
    <div class="col-lg-4 tab-box" style=""  ng-if="showNoOutletsMessage && showMessage==false">
      <div style="padding:35px; text-align:center; box-shadow: none !important;width: 48%;margin: 0 auto;position: absolute;left: 0px;right: 0px;margin-top: 14%;">
      You have no outlet visits scheduled.
      </div>
    </div>

    <div class="col-lg-4 tab-box" style="width:50%; margin:200px 230px; "  ng-if="showMessage">
    <div style="padding:5px; text-align:center; box-shadow: none !important;">Internet connection is required to download user details.</div>
    </div>
  </ion-content>

</ion-view>
