<ion-view view-title="{{currentCustomer[0].Name}}" >
  <ion-content id="lastVisitSummary_content">
    <style>
      .box-mid {
      min-height: 200px;
      }
      .ani-number {
      margin: 10px 0 10px 0;
      }
      .box-mid .btn-group {
      margin: 11px 0 0 11px;
      }
       
    </style>
    <!-- Start Services Section -->
    <section >
      <div class="col-md-12 second-mid-head" style="text-align:center; border:none; height:55px; margin: 0 23px;">
        <div class="BreadtopBar" ng-repeat="(key, breadItem) in breadList">
          <div class="mask_1" ng-show="key==0"></div>
          <div class="mask_2" ng-show="key==breadList.length-1"></div>
          <div class="Breadcircle" ng-class="{Breadactive : 'Last Visit Summary'==breadItem.name}"></div>
          <span ng-class="{BreadactiveFont : 'Last Visit Summary'==breadItem.name}">{{breadItem.name}}</span>
        </div>
      </div> 
      <div class="col-lg-12 middle-bottom-box" style="margin: 15px 0 0 11px;">
        <div class="col-lg-4 tab-box addOutletBoarders" style="height: 40%;">
          <span style="background-color: #38b6cb !important;">Complaints</span>
          <span class="outletCount" style="">Last visit:{{lastVisitRecord.Check_In_DateTime__c|date: 'dd MMM yyyy'}}</span>          
          <div class="row" style="background-color:#38b6cb !important; min-height: 40px; color:white; box-shadow: none !important; border-radius: 0px 0px 0px 0px;" ng-if="visitSummaries.length>0">
            <div class="col col-20">Source</div>
            <div class="col col-20">Category</div>
            <div class="col col-31">Sub category</div>
            <div class="col col-15">Status</div>            
            <div class="col col-15">Response</div>            
            <!-- <div class="col col-20">Sales</div> -->
          </div>
          <ion-scroll direction="y" ng-class="{first_ion_scroll: visitSummaries.length>0, first_ion_scroll_back: visitSummaries.length == 0}">            
            <!-- <table style="width:100%;" ng-hide="visitSummaries.length==0" border="0"> -->
            <!-- <thead>
              <tr>
                <th>Source</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
              </tr>
            </thead> -->
            <!-- <tbody> -->
              <!-- <tr ng-repeat="complaint in visitSummaries" > -->
              <p ng-if="visitSummaries.length==0">No Open Complaints</p>
              <div ng-repeat="complaint in visitSummaries |orderBy:['Status__c','-Date__c']" class="row"  style="padding:0px; box-shadow: none !important; border-radius: 0px 0px 0px 0px !important; min-height: 0px;background-color: #fff;" ng-show="visitSummaries.length>0" ng-class="{rowHighlightOnResponse: (complaint['F_Supervisor_Response__c']!='' &&  complaint['F_Supervisor_Response__c']!= '-' && complaint['F_Supervisor_Response__c'] != undefined && complaint['Status__c']!='Resolved')}">
                <div class="col col-20" style="text-align:center !important;">{{complaint.Source__c}}</div>
                <div class="col col-20" style="text-align:left !important;">{{complaint.Category__c}}</div>
                <div class="col col-31" style="text-align:left !important;">{{complaint.Sub_category__c}}</div>
                <div class="col col-15" style="text-align:left !important;">{{complaint.Status__c}}</div>
                <div class="col col-15" style="text-align:left !important;">{{complaint.F_Supervisor_Response__c}}
                </div>
              <!-- </tr> -->
              </div>
            <!-- </tbody> -->
          <!-- </table> -->
          </ion-scroll>
        </div>
        <div class="col-lg-4 tab-box" style="height: 40%;">
          <span style="background-color: #38b6cb !important;">Last visit summary</span>
          <!--  <span>Call Summary {{lastVisitRecord.Check_In_DateTime__c | date:"dd/MM/yyyy hh:mm a"}}</span> -->
          <ion-scroll class="second_ion_scroll" direction="y">
            <p ng-if="OldestSKU.length==0 && OldSKU.length==0 && (lastVisitRecord.Visit_Summary__c==undefined || lastVisitRecord.Visit_Summary__c=='')">Call summary goes here. This summary depicts descriptions for last visit. Look for last visit date.</p>
            <p ng-show="{{lastVisitRecord.Visit_Summary__c!=undefined && lastVisitRecord.Visit_Summary__c!=''}}" style="color:#000000;">{{lastVisitRecord.Visit_Summary__c}}</p>
            <table ng-if="OldestSKU.length>0" class="oldestSKU">
              <tr>
                <td>Stock > 6 Months</td>
                <tr ng-repeat="stock in OldestSKU"><td >{{stock.SKUName}} </td></tr>
               <!--  <tr ng-repeat="stock in OldestSKU"><td >{{stock.SKUName}} </td><td >{{stock.Stock_Ageing__c}} </td></tr> -->
              </tr>
            </table>
            <table ng-if="OldSKU.length>0" class="oldSKU">
              <tr>
                <td>Stock > 3 Months</td>
                <tr ng-repeat="stock in OldSKU"><td >{{stock.SKUName}} </td></tr>
                <!-- <tr ng-repeat="stock in OldSKU"><td >{{stock.SKUName}} </td><td >{{stock.Stock_Ageing__c}} </td></tr> -->
              </tr>
            </table>
             
          </ion-scroll>
        </div>
      </div>
      
        <!--div class="bot-but" style="text-align: right;">
          <button class="button btn-danger " ng-click="checkIn();" style="margin-top:10px; margin-right: 30px;">Start Call</button>
        </div-->
      
    </section>
    <!-- End Services Section -->
  </ion-content>
  <div class="bot-but bar-stable" style="z-index:999999; position:fixed; bottom:10px; text-align:right; ">
    <button class="button btn-danger" style="margin-right:39px;" my-touchstart="showLoadingScreen();wholeSalerCheckIn();" ng-class="{'btn-disabled': pendingTask || day!='today','btn-danger': !pendingTask && day=='today'}">Start Call</button>
  </div>
</ion-view>